<div class="pagetitle">
  <h1>關於專題</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">首頁</a></li>
      <li class="breadcrumb-item">關於專題</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="card" style="padding: 20px;">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 style="color:#012970;">展現課程的成果！</h1>
          <h2 class="fs-5">在緊密課程、有限時間、大量工作下 <br> 所有成員一起努力的結晶</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="dashboard/assets/img/team_work.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="row content">
      <div class="col-lg-4 mb-4">
        <img src="dashboard/assets/img/counts-img.svg"  style="max-height: 180px;">
      </div>
      <div class="col-lg-8">
        <div class="section-title" data-aos="fade-up">
          <h2 class="title">
            線上消費性產業資訊分析系統
            <small class="fs-6 text-muted">-以電商平台 Olist 為例</small>
          </h2>
        </div>
        <p>
          使用 Kaggle 提供的資料集: Brazilian E-Commerce Public Dataset by Olist。 <br/>
          模擬身處消費性產業裡，如何善用手邊有限的資料，做出有意義的分析。 規劃了三個研究方向
        </p>

        <li style="list-style-type: none;"><i class="ri-check-double-line text-success"></i> 銷售分析: 找到造成營業額差距的關鍵因子 以此推論出精準行銷的依據。</li>
        <li style="list-style-type: none;"><i class="ri-check-double-line text-success"></i> 評價分析: 預測評價的好壞，做為平台篩選新進賣家販售商品的依據。</li>
        <li style="list-style-type: none;"><i class="ri-check-double-line text-success"></i> 物流分析: 預測訂單是否會延遲送達，協助店家及早應對延遲造成的消費糾紛。</li>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->
