<div class="container">

  <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <h1 style="font-size:80px;">Coming Soon</h1>
    <h2>開發中，敬請期待</h2>
    <img src="dashboard/assets/img/not-found.svg" class="img-fluid py-5">
    <div class="credits">
    </div>
  </section>

</div>
