<div class="pagetitle">
  <h1>研究摘要</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">首頁</a></li>
      <li class="breadcrumb-item">物流小組</li>
      <li class="breadcrumb-item">研究摘要</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-6">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User Story</h5>
          <p>身為一個電商賣家，很清楚物流在整個服務裡是「很重要」但「很難掌握」的環節，例如雙十一購物節因物流延宕衍伸出各種交易糾紛。希望能夠用機器學習的方式，預測「當新的訂單出現時，物流是否會延宕」，以利及早做應對，提升整體服務與穩定公司的運作。</p>
        </div>
      </div>

    </div>

    <div class="col-lg-6">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">研究背景</h5>
          <p>ourKites以加拿大沃爾瑪在暴風雪期間的供應狀況為例，沃爾瑪透過機器學習和數據蒐集，以更清楚供應鏈的狀態，因此可以根據卡車在不利條件下從A點到B點所需的時間，了解如何做出應對，以及即使卡車仍未滿載，是否該提早嘗試在暴風雪期間補充貨架，做出超前部署。</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dataset 結構概述</h5>
          <p class="part in-view" data-startline="14" data-endline="14" data-position="182" data-size="0"><span data-position="182" data-size="2">Y:</span></p>
          <ul class="part in-view" data-startline="15" data-endline="18" data-original-title="" title="">
            <li class="" data-startline="15" data-endline="18" data-position="188" data-size="0"><code data-position="189" data-size="20">is_delivered_delayed</code><span data-position="210" data-size="7"> 是否延遲送達</span><br>
            <span data-position="218" data-size="39">來自 TABLE: orders 裡的「實際送達時間」&gt;「預估抵達時間」做比較</span><br>
            <span data-position="258" data-size="27">變數型態： binary (True / False)</span></li>
          </ul>
          <p class="part in-view" data-startline="19" data-endline="19" data-position="287" data-size="0"><span data-position="287" data-size="2">–</span></p>
          <p class="part in-view" data-startline="21" data-endline="21" data-position="291" data-size="0"><span data-position="291" data-size="2">X:</span></p>
          <ul class="part in-view" data-startline="23" data-endline="67">
          <li class="" data-startline="23" data-endline="24" data-position="298" data-size="0"><span data-position="301" data-size="9"> 訂單的商品金額 </span><code data-position="311" data-size="5">SUM()</code>
          <ul>
          <li class="" data-startline="24" data-endline="24" data-position="322" data-size="0"><code data-position="323" data-size="16">total_item_value</code></li>
          </ul>
          </li>
          <li class="" data-startline="25" data-endline="26" data-position="343" data-size="0"><span data-position="346" data-size="9"> 訂單的運費金額 </span><code data-position="356" data-size="5">SUM()</code>
          <ul>
          <li class="" data-startline="26" data-endline="26" data-position="367" data-size="0"><code data-position="368" data-size="19">total_freight_value</code></li>
          </ul>
          </li>
          <li class="" data-startline="27" data-endline="28" data-position="391" data-size="0"><span data-position="391" data-size="5">訂單總金額</span>
          <ul>
          <li class="" data-startline="28" data-endline="28" data-position="401" data-size="0"><code data-position="402" data-size="19">total_payment_value</code></li>
          </ul>
          </li>
          <li class="" data-startline="29" data-endline="30" data-position="425" data-size="0"><span data-position="428" data-size="6"> 商品重量 </span><code data-position="435" data-size="5">SUM()</code>
          <ul>
          <li class="" data-startline="30" data-endline="30" data-position="446" data-size="0"><code data-position="447" data-size="20">total_package_volume</code></li>
          </ul>
          </li>
          <li class="" data-startline="31" data-endline="32" data-position="471" data-size="0"><span data-position="474" data-size="6"> 商品體積 </span><code data-position="481" data-size="5">SUM()</code>
          <ul>
          <li class="" data-startline="32" data-endline="32" data-position="492" data-size="0"><code data-position="493" data-size="22">total_package_weight_g</code></li>
          </ul>
          </li>
          <li class="" data-startline="33" data-endline="34" data-position="519" data-size="0"><span data-position="522" data-size="8"> 商品品項數量 </span><code data-position="531" data-size="5">SUM()</code>
          <ul>
          <li class="" data-startline="34" data-endline="34" data-position="542" data-size="0"><code data-position="543" data-size="10">item_count</code></li>
          </ul>
          </li>
          <li class="" data-startline="35" data-endline="36" data-position="557" data-size="0"><span data-position="557" data-size="9">商品類別 (名稱)</span>
          <ul>
          <li class="" data-startline="36" data-endline="36" data-position="571" data-size="0"><code data-position="572" data-size="13">category_name</code></li>
          </ul>
          </li>
          <li class="" data-startline="37" data-endline="38" data-position="589" data-size="0"><span data-position="589" data-size="12">商品類別 (六大類標籤)</span>
          <ul>
          <li class="" data-startline="38" data-endline="38" data-position="606" data-size="0"><code data-position="607" data-size="13">category_type</code></li>
          </ul>
          </li>
          <li class="" data-startline="39" data-endline="40" data-position="624" data-size="0"><span data-position="627" data-size="27"> 賣家所在的州/城市 (標籤化 - 合併成四大區域： </span><code data-position="655" data-size="14">NW, SE, CE, NE</code><span data-position="670" data-size="1">)</span>
          <ul>
          <li class="" data-startline="40" data-endline="40" data-position="676" data-size="0"><code data-position="677" data-size="24">seller_state_region_type</code></li>
          </ul>
          </li>
          <li class="" data-startline="41" data-endline="42" data-position="705" data-size="0"><span data-position="708" data-size="27"> 買家所在的州/城市 (標籤化 - 合併成四大區域： </span><code data-position="736" data-size="14">NW, SE, CE, NE</code><span data-position="751" data-size="1">)</span>
          <ul>
          <li class="" data-startline="42" data-endline="42" data-position="757" data-size="0"><code data-position="758" data-size="26">customer_state_region_type</code></li>
          </ul>
          </li>
          <li class="" data-startline="43" data-endline="44" data-position="788" data-size="0"><span data-position="791" data-size="19"> 買賣雙方經緯度的「直線」距離 單位：</span><code data-position="811" data-size="2">km</code>
          <ul>
          <li class="" data-startline="44" data-endline="44" data-position="819" data-size="0"><code data-position="820" data-size="12">geo_distance</code></li>
          </ul>
          </li>
          <li class="" data-startline="45" data-endline="46" data-position="836" data-size="0"><span data-position="839" data-size="34"> 賣家審核時間 (訂單成立 -&gt; 賣家確認準備出貨的時間) 單位： </span><code data-position="874" data-size="1">h</code>
          <ul>
          <li class="" data-startline="46" data-endline="46" data-position="881" data-size="0"><code data-position="882" data-size="28">until_approved_waiting_hours</code></li>
          </ul>
          </li>
          <li class="" data-startline="47" data-endline="48" data-position="914" data-size="0"><span data-position="917" data-size="34"> 賣家備貨時間 (訂單確認 -&gt; 備貨完成送交物流的時間) 單位： </span><code data-position="952" data-size="1">h</code>
          <ul>
          <li class="" data-startline="48" data-endline="48" data-position="959" data-size="0"><code data-position="960" data-size="27">until_shipped_waiting_hours</code></li>
          </ul>
          </li>
          <li class="" data-startline="49" data-endline="50" data-position="991" data-size="0"><span data-position="994" data-size="31"> 物流送達時間 (物流收到 -&gt; 送達消費者的時間) 單位： </span><code data-position="1026" data-size="1">h</code>
          <ul>
          <li class="" data-startline="50" data-endline="50" data-position="1033" data-size="0"><code data-position="1034" data-size="29">until_delivered_waiting_hours</code></li>
          </ul>
          </li>
          <li class="" data-startline="51" data-endline="53" data-position="1067" data-size="0"><span data-position="1070" data-size="31"> 整體處理時間 (訂單成立 -&gt; 送達消費者的時間) 單位： </span><code data-position="1102" data-size="1">h</code>
          <ul>
          <li class="" data-startline="52" data-endline="52" data-position="1109" data-size="0"><span data-position="1109" data-size="25">備註：消費者的體感時間，只想知道下單後多久到我手上</span></li>
          <li class="" data-startline="53" data-endline="53" data-position="1139" data-size="0"><code data-position="1140" data-size="27">total_logistics_using_hours</code></li>
          </ul>
          </li>
          <li class="" data-startline="54" data-endline="56" data-position="1171" data-size="0"><span data-position="1174" data-size="29"> 預估完成時間 (訂單成立 -&gt; 預估抵達時間) 單位： </span><code data-position="1204" data-size="1">h</code>
          <ul>
          <li class="" data-startline="55" data-endline="56" data-position="1211" data-size="0"><span data-position="1211" data-size="22">備註：訂單確認時，店家自己設置的預估完成時間</span>
          <ul>
          <li class="" data-startline="56" data-endline="56" data-position="1240" data-size="0"><code data-position="1241" data-size="31">estimated_logistics_using_hours</code></li>
          </ul>
          </li>
          </ul>
          </li>
          <li class="" data-startline="57" data-endline="67" data-position="1276" data-size="0"><span data-position="1276" data-size="35">從 order_purchase_timestamp 欄位的加工</span>
          <ul>
          <li class="" data-startline="58" data-endline="59" data-position="1319" data-size="0"><span data-position="1322" data-size="24"> 年/月 (2018-01 ~ 2018-12)</span>
          <ul>
          <li class="" data-startline="59" data-endline="59" data-position="1353" data-size="0"><code data-position="1354" data-size="25">order_purchase_year_month</code></li>
          </ul>
          </li>
          <li class="" data-startline="60" data-endline="61" data-position="1385" data-size="0"><span data-position="1388" data-size="40"> 年/週 (2018-01 ~ 2018-52) # 用來偵測哪一週整體物流繁忙</span>
          <ul>
          <li class="" data-startline="61" data-endline="61" data-position="1435" data-size="0"><code data-position="1436" data-size="23">order_purchase_yearweek</code></li>
          </ul>
          </li>
          <li class="" data-startline="62" data-endline="63" data-position="1465" data-size="0"><span data-position="1468" data-size="16"> 時段 (早, 午, 晚, 夜)</span>
          <ul>
          <li class="" data-startline="63" data-endline="63" data-position="1491" data-size="0"><code data-position="1492" data-size="23">order_purchase_time_day</code></li>
          </ul>
          </li>
          <li class="" data-startline="64" data-endline="67" data-position="1521" data-size="0"><span data-position="1524" data-size="12"> 星期幾 (0 ~ 6)</span>
          <ul>
          <li class="" data-startline="65" data-endline="67" data-position="1543" data-size="0"><code data-position="1544" data-size="24">order_purchase_dayofweek</code></li>
          </ul>
          </li>
          </ul>
          </li>
          </ul>
          <p class="part in-view" data-startline="71" data-endline="72" data-position="1602" data-size="0"><img src="https://hackmd.io/_uploads/rywntNX9Y.png" alt="" class="" data-position="1602" data-size="45" loading="lazy"><br>
          <img src="https://hackmd.io/_uploads/SkCL9V79t.png" alt="" class="" data-position="1648" data-size="45" loading="lazy"></p>
        </div>
      </div>

    </div>
  </div>

  <%# 訂單延遲比例, pieChart %>
  <div class="row">
    <div class="col-sm-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">訂單延遲比例</h5>
          <div id="pieChart" style="width: 100%;height: 500px;"></div>
        </div>
      </div>

    </div>
  </div>


  <%# 每日訂單延遲次數及延遲率, orderLineChart %>
  <div class="row">
    <div class="col-sm-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">每日訂單延遲次數及延遲率</h5>
          <div id="orderLineChart" style="width: 100%;height: 500px;"></div>
        </div>
      </div>

    </div>
  </div>

  <%# 產品分類訂單延遲次數及延遲率, productLineChart %>
  <div class="row">
    <div class="col-sm-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">產品分類訂單延遲次數及延遲率</h5>
          <div id="productLineChart" style="width: 100%;height: 500px;"></div>
        </div>
      </div>

    </div>
  </div>
</section>


<%= content_for :javascript do %>
  <!-- 訂單延遲比例 pieChart -->
  <script>
    am4core.ready(function() {

      // Themes begin
      am4core.useTheme(am4themes_animated);
      // Themes end

      var chart = am4core.create("pieChart", am4charts.PieChart3D);
      chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

      chart.legend = new am4charts.Legend();

      chart.data = [
      {
          country: "Delay",
          litres: 7614
        },
        {
          country: "Ontime",
          litres: 85981
        }
      ];

      chart.innerRadius = 100;

      var series = chart.series.push(new am4charts.PieSeries3D());
      series.dataFields.value = "litres";
      series.dataFields.category = "country";

    }); // end am4core.ready()
  </script>

  <!-- 每日訂單延遲次數及延遲率, orderLineChart -->
  <script>
    am5.ready(function () {

      // Create root element
      // https://www.amcharts.com/docs/v5/getting-started/#Root_element
      var root = am5.Root.new("orderLineChart");

      // Set themes
      // https://www.amcharts.com/docs/v5/concepts/themes/
      root.setThemes([am5themes_Animated.new(root)]);

      // Create chart
      // https://www.amcharts.com/docs/v5/charts/xy-chart/
      var chart = root.container.children.push(
        am5xy.XYChart.new(root, {
          panX: false,
          panY: false,
          wheelX: "panX",
          wheelY: "zoomX",
          layout: root.verticalLayout
        })
      );

      // Add scrollbar
      // https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
      chart.set(
        "scrollbarX",
        am5.Scrollbar.new(root, {
          orientation: "horizontal"
        })
      );

      var data = [
        {
          "Date": 20161003,
          "Delay": 0,
          "Ontime": 7,
          "DelyRate": 0.0
        },
        {
          "Date": 20161004,
          "Delay": 2,
          "Ontime": 52,
          "DelyRate": 3.7
        },
        {
          "Date": 20161005,
          "Delay": 0,
          "Ontime": 36,
          "DelyRate": 0.0
        },
        {
          "Date": 20161006,
          "Delay": 0,
          "Ontime": 41,
          "DelyRate": 0.0
        },
        {
          "Date": 20161007,
          "Delay": 0,
          "Ontime": 35,
          "DelyRate": 0.0
        },
        {
          "Date": 20161008,
          "Delay": 0,
          "Ontime": 35,
          "DelyRate": 0.0
        },
        {
          "Date": 20161009,
          "Delay": 0,
          "Ontime": 20,
          "DelyRate": 0.0
        },
        {
          "Date": 20161010,
          "Delay": 1,
          "Ontime": 33,
          "DelyRate": 2.94
        },
        {
          "Date": 20161223,
          "Delay": 0,
          "Ontime": 1,
          "DelyRate": 0.0
        },
        {
          "Date": 20170105,
          "Delay": 0,
          "Ontime": 32,
          "DelyRate": 0.0
        },
        {
          "Date": 20170106,
          "Delay": 0,
          "Ontime": 4,
          "DelyRate": 0.0
        },
        {
          "Date": 20170108,
          "Delay": 0,
          "Ontime": 4,
          "DelyRate": 0.0
        },
        {
          "Date": 20170110,
          "Delay": 0,
          "Ontime": 6,
          "DelyRate": 0.0
        },
        {
          "Date": 20170111,
          "Delay": 0,
          "Ontime": 10,
          "DelyRate": 0.0
        },
        {
          "Date": 20170112,
          "Delay": 2,
          "Ontime": 10,
          "DelyRate": 16.67
        },
        {
          "Date": 20170113,
          "Delay": 0,
          "Ontime": 10,
          "DelyRate": 0.0
        },
        {
          "Date": 20170114,
          "Delay": 1,
          "Ontime": 14,
          "DelyRate": 6.67
        },
        {
          "Date": 20170115,
          "Delay": 0,
          "Ontime": 14,
          "DelyRate": 0.0
        },
        {
          "Date": 20170116,
          "Delay": 0,
          "Ontime": 18,
          "DelyRate": 0.0
        },
        {
          "Date": 20170117,
          "Delay": 0,
          "Ontime": 32,
          "DelyRate": 0.0
        },
        {
          "Date": 20170118,
          "Delay": 1,
          "Ontime": 29,
          "DelyRate": 3.33
        },
        {
          "Date": 20170119,
          "Delay": 1,
          "Ontime": 24,
          "DelyRate": 4.0
        },
        {
          "Date": 20170120,
          "Delay": 0,
          "Ontime": 28,
          "DelyRate": 0.0
        },
        {
          "Date": 20170121,
          "Delay": 0,
          "Ontime": 22,
          "DelyRate": 0.0
        },
        {
          "Date": 20170122,
          "Delay": 0,
          "Ontime": 30,
          "DelyRate": 0.0
        },
        {
          "Date": 20170123,
          "Delay": 2,
          "Ontime": 34,
          "DelyRate": 5.56
        },
        {
          "Date": 20170124,
          "Delay": 0,
          "Ontime": 38,
          "DelyRate": 0.0
        },
        {
          "Date": 20170125,
          "Delay": 1,
          "Ontime": 56,
          "DelyRate": 1.75
        },
        {
          "Date": 20170126,
          "Delay": 4,
          "Ontime": 80,
          "DelyRate": 4.76
        },
        {
          "Date": 20170127,
          "Delay": 0,
          "Ontime": 59,
          "DelyRate": 0.0
        },
        {
          "Date": 20170128,
          "Delay": 0,
          "Ontime": 28,
          "DelyRate": 0.0
        },
        {
          "Date": 20170129,
          "Delay": 2,
          "Ontime": 30,
          "DelyRate": 6.25
        },
        {
          "Date": 20170130,
          "Delay": 0,
          "Ontime": 48,
          "DelyRate": 0.0
        },
        {
          "Date": 20170131,
          "Delay": 6,
          "Ontime": 58,
          "DelyRate": 9.38
        },
        {
          "Date": 20170201,
          "Delay": 1,
          "Ontime": 60,
          "DelyRate": 1.64
        },
        {
          "Date": 20170202,
          "Delay": 3,
          "Ontime": 64,
          "DelyRate": 4.48
        },
        {
          "Date": 20170203,
          "Delay": 2,
          "Ontime": 52,
          "DelyRate": 3.7
        },
        {
          "Date": 20170204,
          "Delay": 2,
          "Ontime": 61,
          "DelyRate": 3.17
        },
        {
          "Date": 20170205,
          "Delay": 1,
          "Ontime": 78,
          "DelyRate": 1.27
        },
        {
          "Date": 20170206,
          "Delay": 3,
          "Ontime": 76,
          "DelyRate": 3.8
        },
        {
          "Date": 20170207,
          "Delay": 2,
          "Ontime": 108,
          "DelyRate": 1.82
        },
        {
          "Date": 20170208,
          "Delay": 1,
          "Ontime": 82,
          "DelyRate": 1.2
        },
        {
          "Date": 20170209,
          "Delay": 4,
          "Ontime": 69,
          "DelyRate": 5.48
        },
        {
          "Date": 20170210,
          "Delay": 2,
          "Ontime": 60,
          "DelyRate": 3.23
        },
        {
          "Date": 20170211,
          "Delay": 2,
          "Ontime": 43,
          "DelyRate": 4.44
        },
        {
          "Date": 20170212,
          "Delay": 1,
          "Ontime": 60,
          "DelyRate": 1.64
        },
        {
          "Date": 20170213,
          "Delay": 1,
          "Ontime": 73,
          "DelyRate": 1.35
        },
        {
          "Date": 20170214,
          "Delay": 2,
          "Ontime": 64,
          "DelyRate": 3.03
        },
        {
          "Date": 20170215,
          "Delay": 0,
          "Ontime": 56,
          "DelyRate": 0.0
        },
        {
          "Date": 20170216,
          "Delay": 1,
          "Ontime": 48,
          "DelyRate": 2.04
        },
        {
          "Date": 20170217,
          "Delay": 2,
          "Ontime": 44,
          "DelyRate": 4.35
        },
        {
          "Date": 20170218,
          "Delay": 1,
          "Ontime": 43,
          "DelyRate": 2.27
        },
        {
          "Date": 20170219,
          "Delay": 0,
          "Ontime": 35,
          "DelyRate": 0.0
        },
        {
          "Date": 20170220,
          "Delay": 5,
          "Ontime": 57,
          "DelyRate": 8.06
        },
        {
          "Date": 20170221,
          "Delay": 1,
          "Ontime": 39,
          "DelyRate": 2.5
        },
        {
          "Date": 20170222,
          "Delay": 2,
          "Ontime": 52,
          "DelyRate": 3.7
        },
        {
          "Date": 20170223,
          "Delay": 2,
          "Ontime": 55,
          "DelyRate": 3.51
        },
        {
          "Date": 20170224,
          "Delay": 3,
          "Ontime": 57,
          "DelyRate": 5.0
        },
        {
          "Date": 20170225,
          "Delay": 0,
          "Ontime": 39,
          "DelyRate": 0.0
        },
        {
          "Date": 20170226,
          "Delay": 2,
          "Ontime": 40,
          "DelyRate": 4.76
        },
        {
          "Date": 20170227,
          "Delay": 3,
          "Ontime": 38,
          "DelyRate": 7.32
        },
        {
          "Date": 20170228,
          "Delay": 4,
          "Ontime": 49,
          "DelyRate": 7.55
        },
        {
          "Date": 20170301,
          "Delay": 4,
          "Ontime": 89,
          "DelyRate": 4.3
        },
        {
          "Date": 20170302,
          "Delay": 5,
          "Ontime": 61,
          "DelyRate": 7.58
        },
        {
          "Date": 20170303,
          "Delay": 4,
          "Ontime": 68,
          "DelyRate": 5.56
        },
        {
          "Date": 20170304,
          "Delay": 4,
          "Ontime": 65,
          "DelyRate": 5.8
        },
        {
          "Date": 20170305,
          "Delay": 5,
          "Ontime": 62,
          "DelyRate": 7.46
        },
        {
          "Date": 20170306,
          "Delay": 4,
          "Ontime": 91,
          "DelyRate": 4.21
        },
        {
          "Date": 20170307,
          "Delay": 5,
          "Ontime": 73,
          "DelyRate": 6.41
        },
        {
          "Date": 20170308,
          "Delay": 4,
          "Ontime": 70,
          "DelyRate": 5.41
        },
        {
          "Date": 20170309,
          "Delay": 5,
          "Ontime": 84,
          "DelyRate": 5.62
        },
        {
          "Date": 20170310,
          "Delay": 2,
          "Ontime": 82,
          "DelyRate": 2.38
        },
        {
          "Date": 20170311,
          "Delay": 2,
          "Ontime": 66,
          "DelyRate": 2.94
        },
        {
          "Date": 20170312,
          "Delay": 2,
          "Ontime": 61,
          "DelyRate": 3.17
        },
        {
          "Date": 20170313,
          "Delay": 9,
          "Ontime": 95,
          "DelyRate": 8.65
        },
        {
          "Date": 20170314,
          "Delay": 4,
          "Ontime": 93,
          "DelyRate": 4.12
        },
        {
          "Date": 20170315,
          "Delay": 8,
          "Ontime": 93,
          "DelyRate": 7.92
        },
        {
          "Date": 20170316,
          "Delay": 9,
          "Ontime": 92,
          "DelyRate": 8.91
        },
        {
          "Date": 20170317,
          "Delay": 4,
          "Ontime": 61,
          "DelyRate": 6.15
        },
        {
          "Date": 20170318,
          "Delay": 2,
          "Ontime": 69,
          "DelyRate": 2.82
        },
        {
          "Date": 20170319,
          "Delay": 1,
          "Ontime": 55,
          "DelyRate": 1.79
        },
        {
          "Date": 20170320,
          "Delay": 8,
          "Ontime": 105,
          "DelyRate": 7.08
        },
        {
          "Date": 20170321,
          "Delay": 3,
          "Ontime": 89,
          "DelyRate": 3.26
        },
        {
          "Date": 20170322,
          "Delay": 5,
          "Ontime": 98,
          "DelyRate": 4.85
        },
        {
          "Date": 20170323,
          "Delay": 4,
          "Ontime": 101,
          "DelyRate": 3.81
        },
        {
          "Date": 20170324,
          "Delay": 5,
          "Ontime": 70,
          "DelyRate": 6.67
        },
        {
          "Date": 20170325,
          "Delay": 5,
          "Ontime": 70,
          "DelyRate": 6.67
        },
        {
          "Date": 20170326,
          "Delay": 7,
          "Ontime": 56,
          "DelyRate": 11.11
        },
        {
          "Date": 20170327,
          "Delay": 5,
          "Ontime": 102,
          "DelyRate": 4.67
        },
        {
          "Date": 20170328,
          "Delay": 5,
          "Ontime": 95,
          "DelyRate": 5.0
        },
        {
          "Date": 20170329,
          "Delay": 4,
          "Ontime": 69,
          "DelyRate": 5.48
        },
        {
          "Date": 20170330,
          "Delay": 3,
          "Ontime": 69,
          "DelyRate": 4.17
        },
        {
          "Date": 20170331,
          "Delay": 5,
          "Ontime": 64,
          "DelyRate": 7.25
        },
        {
          "Date": 20170401,
          "Delay": 3,
          "Ontime": 63,
          "DelyRate": 4.55
        },
        {
          "Date": 20170402,
          "Delay": 1,
          "Ontime": 67,
          "DelyRate": 1.47
        },
        {
          "Date": 20170403,
          "Delay": 4,
          "Ontime": 65,
          "DelyRate": 5.8
        },
        {
          "Date": 20170404,
          "Delay": 7,
          "Ontime": 92,
          "DelyRate": 7.07
        },
        {
          "Date": 20170405,
          "Delay": 7,
          "Ontime": 86,
          "DelyRate": 7.53
        },
        {
          "Date": 20170406,
          "Delay": 4,
          "Ontime": 89,
          "DelyRate": 4.3
        },
        {
          "Date": 20170407,
          "Delay": 7,
          "Ontime": 75,
          "DelyRate": 8.54
        },
        {
          "Date": 20170408,
          "Delay": 5,
          "Ontime": 59,
          "DelyRate": 7.81
        },
        {
          "Date": 20170409,
          "Delay": 3,
          "Ontime": 68,
          "DelyRate": 4.23
        },
        {
          "Date": 20170410,
          "Delay": 6,
          "Ontime": 79,
          "DelyRate": 7.06
        },
        {
          "Date": 20170411,
          "Delay": 5,
          "Ontime": 68,
          "DelyRate": 6.85
        },
        {
          "Date": 20170412,
          "Delay": 7,
          "Ontime": 54,
          "DelyRate": 11.48
        },
        {
          "Date": 20170413,
          "Delay": 5,
          "Ontime": 55,
          "DelyRate": 8.33
        },
        {
          "Date": 20170414,
          "Delay": 5,
          "Ontime": 42,
          "DelyRate": 10.64
        },
        {
          "Date": 20170415,
          "Delay": 6,
          "Ontime": 47,
          "DelyRate": 11.32
        },
        {
          "Date": 20170416,
          "Delay": 5,
          "Ontime": 42,
          "DelyRate": 10.64
        },
        {
          "Date": 20170417,
          "Delay": 6,
          "Ontime": 52,
          "DelyRate": 10.34
        },
        {
          "Date": 20170418,
          "Delay": 6,
          "Ontime": 65,
          "DelyRate": 8.45
        },
        {
          "Date": 20170419,
          "Delay": 14,
          "Ontime": 85,
          "DelyRate": 14.14
        },
        {
          "Date": 20170420,
          "Delay": 14,
          "Ontime": 81,
          "DelyRate": 14.74
        },
        {
          "Date": 20170421,
          "Delay": 5,
          "Ontime": 62,
          "DelyRate": 7.46
        },
        {
          "Date": 20170422,
          "Delay": 5,
          "Ontime": 78,
          "DelyRate": 6.02
        },
        {
          "Date": 20170423,
          "Delay": 12,
          "Ontime": 75,
          "DelyRate": 13.79
        },
        {
          "Date": 20170424,
          "Delay": 12,
          "Ontime": 99,
          "DelyRate": 10.81
        },
        {
          "Date": 20170425,
          "Delay": 9,
          "Ontime": 89,
          "DelyRate": 9.18
        },
        {
          "Date": 20170426,
          "Delay": 10,
          "Ontime": 107,
          "DelyRate": 8.55
        },
        {
          "Date": 20170427,
          "Delay": 0,
          "Ontime": 68,
          "DelyRate": 0.0
        },
        {
          "Date": 20170428,
          "Delay": 7,
          "Ontime": 87,
          "DelyRate": 7.45
        },
        {
          "Date": 20170429,
          "Delay": 2,
          "Ontime": 68,
          "DelyRate": 2.86
        },
        {
          "Date": 20170430,
          "Delay": 3,
          "Ontime": 63,
          "DelyRate": 4.55
        },
        {
          "Date": 20170501,
          "Delay": 5,
          "Ontime": 108,
          "DelyRate": 4.42
        },
        {
          "Date": 20170502,
          "Delay": 6,
          "Ontime": 117,
          "DelyRate": 4.88
        },
        {
          "Date": 20170503,
          "Delay": 8,
          "Ontime": 91,
          "DelyRate": 8.08
        },
        {
          "Date": 20170504,
          "Delay": 2,
          "Ontime": 103,
          "DelyRate": 1.9
        },
        {
          "Date": 20170505,
          "Delay": 2,
          "Ontime": 101,
          "DelyRate": 1.94
        },
        {
          "Date": 20170506,
          "Delay": 2,
          "Ontime": 102,
          "DelyRate": 1.92
        },
        {
          "Date": 20170507,
          "Delay": 2,
          "Ontime": 100,
          "DelyRate": 1.96
        },
        {
          "Date": 20170508,
          "Delay": 5,
          "Ontime": 117,
          "DelyRate": 4.1
        },
        {
          "Date": 20170509,
          "Delay": 6,
          "Ontime": 114,
          "DelyRate": 5.0
        },
        {
          "Date": 20170510,
          "Delay": 8,
          "Ontime": 105,
          "DelyRate": 7.08
        },
        {
          "Date": 20170511,
          "Delay": 8,
          "Ontime": 117,
          "DelyRate": 6.4
        },
        {
          "Date": 20170512,
          "Delay": 8,
          "Ontime": 96,
          "DelyRate": 7.69
        },
        {
          "Date": 20170513,
          "Delay": 2,
          "Ontime": 66,
          "DelyRate": 2.94
        },
        {
          "Date": 20170514,
          "Delay": 7,
          "Ontime": 105,
          "DelyRate": 6.25
        },
        {
          "Date": 20170515,
          "Delay": 4,
          "Ontime": 148,
          "DelyRate": 2.63
        },
        {
          "Date": 20170516,
          "Delay": 4,
          "Ontime": 151,
          "DelyRate": 2.58
        },
        {
          "Date": 20170517,
          "Delay": 4,
          "Ontime": 139,
          "DelyRate": 2.8
        },
        {
          "Date": 20170518,
          "Delay": 4,
          "Ontime": 121,
          "DelyRate": 3.2
        },
        {
          "Date": 20170519,
          "Delay": 3,
          "Ontime": 138,
          "DelyRate": 2.13
        },
        {
          "Date": 20170520,
          "Delay": 2,
          "Ontime": 69,
          "DelyRate": 2.82
        },
        {
          "Date": 20170521,
          "Delay": 3,
          "Ontime": 140,
          "DelyRate": 2.1
        },
        {
          "Date": 20170522,
          "Delay": 3,
          "Ontime": 146,
          "DelyRate": 2.01
        },
        {
          "Date": 20170523,
          "Delay": 5,
          "Ontime": 115,
          "DelyRate": 4.17
        },
        {
          "Date": 20170524,
          "Delay": 7,
          "Ontime": 136,
          "DelyRate": 4.9
        },
        {
          "Date": 20170525,
          "Delay": 4,
          "Ontime": 98,
          "DelyRate": 3.92
        },
        {
          "Date": 20170526,
          "Delay": 2,
          "Ontime": 75,
          "DelyRate": 2.6
        },
        {
          "Date": 20170527,
          "Delay": 2,
          "Ontime": 78,
          "DelyRate": 2.5
        },
        {
          "Date": 20170528,
          "Delay": 2,
          "Ontime": 97,
          "DelyRate": 2.02
        },
        {
          "Date": 20170529,
          "Delay": 3,
          "Ontime": 152,
          "DelyRate": 1.94
        },
        {
          "Date": 20170530,
          "Delay": 3,
          "Ontime": 95,
          "DelyRate": 3.06
        },
        {
          "Date": 20170531,
          "Delay": 3,
          "Ontime": 115,
          "DelyRate": 2.54
        },
        {
          "Date": 20170601,
          "Delay": 3,
          "Ontime": 123,
          "DelyRate": 2.38
        },
        {
          "Date": 20170602,
          "Delay": 5,
          "Ontime": 118,
          "DelyRate": 4.07
        },
        {
          "Date": 20170603,
          "Delay": 4,
          "Ontime": 89,
          "DelyRate": 4.3
        },
        {
          "Date": 20170604,
          "Delay": 2,
          "Ontime": 96,
          "DelyRate": 2.04
        },
        {
          "Date": 20170605,
          "Delay": 5,
          "Ontime": 140,
          "DelyRate": 3.45
        },
        {
          "Date": 20170606,
          "Delay": 3,
          "Ontime": 126,
          "DelyRate": 2.33
        },
        {
          "Date": 20170607,
          "Delay": 6,
          "Ontime": 119,
          "DelyRate": 4.8
        },
        {
          "Date": 20170608,
          "Delay": 3,
          "Ontime": 134,
          "DelyRate": 2.19
        },
        {
          "Date": 20170609,
          "Delay": 1,
          "Ontime": 107,
          "DelyRate": 0.93
        },
        {
          "Date": 20170610,
          "Delay": 0,
          "Ontime": 73,
          "DelyRate": 0.0
        },
        {
          "Date": 20170611,
          "Delay": 5,
          "Ontime": 108,
          "DelyRate": 4.42
        },
        {
          "Date": 20170612,
          "Delay": 10,
          "Ontime": 111,
          "DelyRate": 8.26
        },
        {
          "Date": 20170613,
          "Delay": 3,
          "Ontime": 118,
          "DelyRate": 2.48
        },
        {
          "Date": 20170614,
          "Delay": 9,
          "Ontime": 120,
          "DelyRate": 6.98
        },
        {
          "Date": 20170615,
          "Delay": 5,
          "Ontime": 99,
          "DelyRate": 4.81
        },
        {
          "Date": 20170616,
          "Delay": 6,
          "Ontime": 88,
          "DelyRate": 6.38
        },
        {
          "Date": 20170617,
          "Delay": 3,
          "Ontime": 70,
          "DelyRate": 4.11
        },
        {
          "Date": 20170618,
          "Delay": 1,
          "Ontime": 87,
          "DelyRate": 1.14
        },
        {
          "Date": 20170619,
          "Delay": 8,
          "Ontime": 149,
          "DelyRate": 5.1
        },
        {
          "Date": 20170620,
          "Delay": 3,
          "Ontime": 89,
          "DelyRate": 3.26
        },
        {
          "Date": 20170621,
          "Delay": 2,
          "Ontime": 32,
          "DelyRate": 5.88
        },
        {
          "Date": 20170622,
          "Delay": 5,
          "Ontime": 78,
          "DelyRate": 6.02
        },
        {
          "Date": 20170623,
          "Delay": 0,
          "Ontime": 103,
          "DelyRate": 0.0
        },
        {
          "Date": 20170624,
          "Delay": 6,
          "Ontime": 68,
          "DelyRate": 8.11
        },
        {
          "Date": 20170625,
          "Delay": 2,
          "Ontime": 97,
          "DelyRate": 2.02
        },
        {
          "Date": 20170626,
          "Delay": 4,
          "Ontime": 62,
          "DelyRate": 6.06
        },
        {
          "Date": 20170627,
          "Delay": 3,
          "Ontime": 137,
          "DelyRate": 2.14
        },
        {
          "Date": 20170628,
          "Delay": 5,
          "Ontime": 112,
          "DelyRate": 4.27
        },
        {
          "Date": 20170629,
          "Delay": 4,
          "Ontime": 106,
          "DelyRate": 3.64
        },
        {
          "Date": 20170630,
          "Delay": 4,
          "Ontime": 89,
          "DelyRate": 4.3
        },
        {
          "Date": 20170701,
          "Delay": 1,
          "Ontime": 78,
          "DelyRate": 1.27
        },
        {
          "Date": 20170702,
          "Delay": 3,
          "Ontime": 98,
          "DelyRate": 2.97
        },
        {
          "Date": 20170703,
          "Delay": 3,
          "Ontime": 109,
          "DelyRate": 2.68
        },
        {
          "Date": 20170704,
          "Delay": 10,
          "Ontime": 113,
          "DelyRate": 8.13
        },
        {
          "Date": 20170705,
          "Delay": 5,
          "Ontime": 142,
          "DelyRate": 3.4
        },
        {
          "Date": 20170706,
          "Delay": 4,
          "Ontime": 139,
          "DelyRate": 2.8
        },
        {
          "Date": 20170707,
          "Delay": 2,
          "Ontime": 114,
          "DelyRate": 1.72
        },
        {
          "Date": 20170708,
          "Delay": 0,
          "Ontime": 87,
          "DelyRate": 0.0
        },
        {
          "Date": 20170709,
          "Delay": 3,
          "Ontime": 86,
          "DelyRate": 3.37
        },
        {
          "Date": 20170710,
          "Delay": 8,
          "Ontime": 133,
          "DelyRate": 5.67
        },
        {
          "Date": 20170711,
          "Delay": 5,
          "Ontime": 158,
          "DelyRate": 3.07
        },
        {
          "Date": 20170712,
          "Delay": 6,
          "Ontime": 140,
          "DelyRate": 4.11
        },
        {
          "Date": 20170713,
          "Delay": 5,
          "Ontime": 132,
          "DelyRate": 3.65
        },
        {
          "Date": 20170714,
          "Delay": 1,
          "Ontime": 148,
          "DelyRate": 0.67
        },
        {
          "Date": 20170715,
          "Delay": 3,
          "Ontime": 98,
          "DelyRate": 2.97
        },
        {
          "Date": 20170716,
          "Delay": 7,
          "Ontime": 100,
          "DelyRate": 6.54
        },
        {
          "Date": 20170717,
          "Delay": 7,
          "Ontime": 163,
          "DelyRate": 4.12
        },
        {
          "Date": 20170718,
          "Delay": 10,
          "Ontime": 178,
          "DelyRate": 5.32
        },
        {
          "Date": 20170719,
          "Delay": 3,
          "Ontime": 145,
          "DelyRate": 2.03
        },
        {
          "Date": 20170720,
          "Delay": 4,
          "Ontime": 133,
          "DelyRate": 2.92
        },
        {
          "Date": 20170721,
          "Delay": 4,
          "Ontime": 113,
          "DelyRate": 3.42
        },
        {
          "Date": 20170722,
          "Delay": 2,
          "Ontime": 85,
          "DelyRate": 2.3
        },
        {
          "Date": 20170723,
          "Delay": 1,
          "Ontime": 99,
          "DelyRate": 1.0
        },
        {
          "Date": 20170724,
          "Delay": 8,
          "Ontime": 151,
          "DelyRate": 5.03
        },
        {
          "Date": 20170725,
          "Delay": 6,
          "Ontime": 141,
          "DelyRate": 4.08
        },
        {
          "Date": 20170726,
          "Delay": 3,
          "Ontime": 118,
          "DelyRate": 2.48
        },
        {
          "Date": 20170727,
          "Delay": 4,
          "Ontime": 121,
          "DelyRate": 3.2
        },
        {
          "Date": 20170728,
          "Delay": 3,
          "Ontime": 121,
          "DelyRate": 2.42
        },
        {
          "Date": 20170729,
          "Delay": 5,
          "Ontime": 107,
          "DelyRate": 4.46
        },
        {
          "Date": 20170730,
          "Delay": 1,
          "Ontime": 108,
          "DelyRate": 0.92
        },
        {
          "Date": 20170731,
          "Delay": 6,
          "Ontime": 138,
          "DelyRate": 4.17
        },
        {
          "Date": 20170801,
          "Delay": 7,
          "Ontime": 157,
          "DelyRate": 4.27
        },
        {
          "Date": 20170802,
          "Delay": 4,
          "Ontime": 148,
          "DelyRate": 2.63
        },
        {
          "Date": 20170803,
          "Delay": 5,
          "Ontime": 145,
          "DelyRate": 3.33
        },
        {
          "Date": 20170804,
          "Delay": 4,
          "Ontime": 139,
          "DelyRate": 2.8
        },
        {
          "Date": 20170805,
          "Delay": 2,
          "Ontime": 113,
          "DelyRate": 1.74
        },
        {
          "Date": 20170806,
          "Delay": 5,
          "Ontime": 100,
          "DelyRate": 4.76
        },
        {
          "Date": 20170807,
          "Delay": 6,
          "Ontime": 151,
          "DelyRate": 3.82
        },
        {
          "Date": 20170808,
          "Delay": 7,
          "Ontime": 140,
          "DelyRate": 4.76
        },
        {
          "Date": 20170809,
          "Delay": 2,
          "Ontime": 138,
          "DelyRate": 1.43
        },
        {
          "Date": 20170810,
          "Delay": 6,
          "Ontime": 155,
          "DelyRate": 3.73
        },
        {
          "Date": 20170811,
          "Delay": 3,
          "Ontime": 134,
          "DelyRate": 2.19
        },
        {
          "Date": 20170812,
          "Delay": 3,
          "Ontime": 91,
          "DelyRate": 3.19
        },
        {
          "Date": 20170813,
          "Delay": 2,
          "Ontime": 92,
          "DelyRate": 2.13
        },
        {
          "Date": 20170814,
          "Delay": 3,
          "Ontime": 151,
          "DelyRate": 1.95
        },
        {
          "Date": 20170815,
          "Delay": 5,
          "Ontime": 181,
          "DelyRate": 2.69
        },
        {
          "Date": 20170816,
          "Delay": 9,
          "Ontime": 158,
          "DelyRate": 5.39
        },
        {
          "Date": 20170817,
          "Delay": 7,
          "Ontime": 148,
          "DelyRate": 4.52
        },
        {
          "Date": 20170818,
          "Delay": 4,
          "Ontime": 141,
          "DelyRate": 2.76
        },
        {
          "Date": 20170819,
          "Delay": 2,
          "Ontime": 112,
          "DelyRate": 1.75
        },
        {
          "Date": 20170820,
          "Delay": 1,
          "Ontime": 109,
          "DelyRate": 0.91
        },
        {
          "Date": 20170821,
          "Delay": 5,
          "Ontime": 172,
          "DelyRate": 2.82
        },
        {
          "Date": 20170822,
          "Delay": 3,
          "Ontime": 136,
          "DelyRate": 2.16
        },
        {
          "Date": 20170823,
          "Delay": 3,
          "Ontime": 115,
          "DelyRate": 2.54
        },
        {
          "Date": 20170824,
          "Delay": 4,
          "Ontime": 124,
          "DelyRate": 3.13
        },
        {
          "Date": 20170825,
          "Delay": 7,
          "Ontime": 112,
          "DelyRate": 5.88
        },
        {
          "Date": 20170826,
          "Delay": 2,
          "Ontime": 93,
          "DelyRate": 2.11
        },
        {
          "Date": 20170827,
          "Delay": 2,
          "Ontime": 117,
          "DelyRate": 1.68
        },
        {
          "Date": 20170828,
          "Delay": 6,
          "Ontime": 147,
          "DelyRate": 3.92
        },
        {
          "Date": 20170829,
          "Delay": 9,
          "Ontime": 129,
          "DelyRate": 6.52
        },
        {
          "Date": 20170830,
          "Delay": 4,
          "Ontime": 174,
          "DelyRate": 2.25
        },
        {
          "Date": 20170831,
          "Delay": 8,
          "Ontime": 138,
          "DelyRate": 5.48
        },
        {
          "Date": 20170901,
          "Delay": 7,
          "Ontime": 138,
          "DelyRate": 4.83
        },
        {
          "Date": 20170902,
          "Delay": 1,
          "Ontime": 101,
          "DelyRate": 0.98
        },
        {
          "Date": 20170903,
          "Delay": 2,
          "Ontime": 126,
          "DelyRate": 1.56
        },
        {
          "Date": 20170904,
          "Delay": 7,
          "Ontime": 141,
          "DelyRate": 4.73
        },
        {
          "Date": 20170905,
          "Delay": 3,
          "Ontime": 154,
          "DelyRate": 1.91
        },
        {
          "Date": 20170906,
          "Delay": 11,
          "Ontime": 128,
          "DelyRate": 7.91
        },
        {
          "Date": 20170907,
          "Delay": 4,
          "Ontime": 93,
          "DelyRate": 4.12
        },
        {
          "Date": 20170908,
          "Delay": 6,
          "Ontime": 105,
          "DelyRate": 5.41
        },
        {
          "Date": 20170909,
          "Delay": 3,
          "Ontime": 101,
          "DelyRate": 2.88
        },
        {
          "Date": 20170910,
          "Delay": 10,
          "Ontime": 126,
          "DelyRate": 7.35
        },
        {
          "Date": 20170911,
          "Delay": 9,
          "Ontime": 177,
          "DelyRate": 4.84
        },
        {
          "Date": 20170912,
          "Delay": 19,
          "Ontime": 181,
          "DelyRate": 9.5
        },
        {
          "Date": 20170913,
          "Delay": 18,
          "Ontime": 185,
          "DelyRate": 8.87
        },
        {
          "Date": 20170914,
          "Delay": 13,
          "Ontime": 159,
          "DelyRate": 7.56
        },
        {
          "Date": 20170915,
          "Delay": 9,
          "Ontime": 135,
          "DelyRate": 6.25
        },
        {
          "Date": 20170916,
          "Delay": 12,
          "Ontime": 115,
          "DelyRate": 9.45
        },
        {
          "Date": 20170917,
          "Delay": 9,
          "Ontime": 123,
          "DelyRate": 6.82
        },
        {
          "Date": 20170918,
          "Delay": 21,
          "Ontime": 162,
          "DelyRate": 11.48
        },
        {
          "Date": 20170919,
          "Delay": 14,
          "Ontime": 136,
          "DelyRate": 9.33
        },
        {
          "Date": 20170920,
          "Delay": 7,
          "Ontime": 154,
          "DelyRate": 4.35
        },
        {
          "Date": 20170921,
          "Delay": 3,
          "Ontime": 145,
          "DelyRate": 2.03
        },
        {
          "Date": 20170922,
          "Delay": 3,
          "Ontime": 131,
          "DelyRate": 2.24
        },
        {
          "Date": 20170923,
          "Delay": 0,
          "Ontime": 81,
          "DelyRate": 0.0
        },
        {
          "Date": 20170924,
          "Delay": 2,
          "Ontime": 110,
          "DelyRate": 1.79
        },
        {
          "Date": 20170925,
          "Delay": 1,
          "Ontime": 132,
          "DelyRate": 0.75
        },
        {
          "Date": 20170926,
          "Delay": 7,
          "Ontime": 168,
          "DelyRate": 4.0
        },
        {
          "Date": 20170927,
          "Delay": 3,
          "Ontime": 144,
          "DelyRate": 2.04
        },
        {
          "Date": 20170928,
          "Delay": 3,
          "Ontime": 142,
          "DelyRate": 2.07
        },
        {
          "Date": 20170929,
          "Delay": 4,
          "Ontime": 104,
          "DelyRate": 3.7
        },
        {
          "Date": 20170930,
          "Delay": 3,
          "Ontime": 102,
          "DelyRate": 2.86
        },
        {
          "Date": 20171001,
          "Delay": 3,
          "Ontime": 123,
          "DelyRate": 2.38
        },
        {
          "Date": 20171002,
          "Delay": 2,
          "Ontime": 138,
          "DelyRate": 1.43
        },
        {
          "Date": 20171003,
          "Delay": 6,
          "Ontime": 189,
          "DelyRate": 3.08
        },
        {
          "Date": 20171004,
          "Delay": 1,
          "Ontime": 157,
          "DelyRate": 0.63
        },
        {
          "Date": 20171005,
          "Delay": 7,
          "Ontime": 135,
          "DelyRate": 4.93
        },
        {
          "Date": 20171006,
          "Delay": 12,
          "Ontime": 119,
          "DelyRate": 9.16
        },
        {
          "Date": 20171007,
          "Delay": 6,
          "Ontime": 96,
          "DelyRate": 5.88
        },
        {
          "Date": 20171008,
          "Delay": 2,
          "Ontime": 125,
          "DelyRate": 1.57
        },
        {
          "Date": 20171009,
          "Delay": 14,
          "Ontime": 173,
          "DelyRate": 7.49
        },
        {
          "Date": 20171010,
          "Delay": 14,
          "Ontime": 171,
          "DelyRate": 7.57
        },
        {
          "Date": 20171011,
          "Delay": 7,
          "Ontime": 152,
          "DelyRate": 4.4
        },
        {
          "Date": 20171012,
          "Delay": 5,
          "Ontime": 135,
          "DelyRate": 3.57
        },
        {
          "Date": 20171013,
          "Delay": 11,
          "Ontime": 142,
          "DelyRate": 7.19
        },
        {
          "Date": 20171014,
          "Delay": 5,
          "Ontime": 113,
          "DelyRate": 4.24
        },
        {
          "Date": 20171015,
          "Delay": 5,
          "Ontime": 114,
          "DelyRate": 4.2
        },
        {
          "Date": 20171016,
          "Delay": 13,
          "Ontime": 177,
          "DelyRate": 6.84
        },
        {
          "Date": 20171017,
          "Delay": 19,
          "Ontime": 184,
          "DelyRate": 9.36
        },
        {
          "Date": 20171018,
          "Delay": 6,
          "Ontime": 177,
          "DelyRate": 3.28
        },
        {
          "Date": 20171019,
          "Delay": 8,
          "Ontime": 167,
          "DelyRate": 4.57
        },
        {
          "Date": 20171020,
          "Delay": 5,
          "Ontime": 115,
          "DelyRate": 4.17
        },
        {
          "Date": 20171021,
          "Delay": 3,
          "Ontime": 105,
          "DelyRate": 2.78
        },
        {
          "Date": 20171022,
          "Delay": 9,
          "Ontime": 145,
          "DelyRate": 5.84
        },
        {
          "Date": 20171023,
          "Delay": 6,
          "Ontime": 149,
          "DelyRate": 3.87
        },
        {
          "Date": 20171024,
          "Delay": 10,
          "Ontime": 152,
          "DelyRate": 6.17
        },
        {
          "Date": 20171025,
          "Delay": 4,
          "Ontime": 153,
          "DelyRate": 2.55
        },
        {
          "Date": 20171026,
          "Delay": 8,
          "Ontime": 144,
          "DelyRate": 5.26
        },
        {
          "Date": 20171027,
          "Delay": 10,
          "Ontime": 120,
          "DelyRate": 7.69
        },
        {
          "Date": 20171028,
          "Delay": 2,
          "Ontime": 84,
          "DelyRate": 2.33
        },
        {
          "Date": 20171029,
          "Delay": 6,
          "Ontime": 130,
          "DelyRate": 4.41
        },
        {
          "Date": 20171030,
          "Delay": 17,
          "Ontime": 121,
          "DelyRate": 12.32
        },
        {
          "Date": 20171031,
          "Delay": 12,
          "Ontime": 146,
          "DelyRate": 7.59
        },
        {
          "Date": 20171101,
          "Delay": 6,
          "Ontime": 103,
          "DelyRate": 5.5
        },
        {
          "Date": 20171102,
          "Delay": 6,
          "Ontime": 123,
          "DelyRate": 4.65
        },
        {
          "Date": 20171103,
          "Delay": 7,
          "Ontime": 133,
          "DelyRate": 5.0
        },
        {
          "Date": 20171104,
          "Delay": 5,
          "Ontime": 103,
          "DelyRate": 4.63
        },
        {
          "Date": 20171105,
          "Delay": 4,
          "Ontime": 143,
          "DelyRate": 2.72
        },
        {
          "Date": 20171106,
          "Delay": 12,
          "Ontime": 170,
          "DelyRate": 6.59
        },
        {
          "Date": 20171107,
          "Delay": 8,
          "Ontime": 149,
          "DelyRate": 5.1
        },
        {
          "Date": 20171108,
          "Delay": 11,
          "Ontime": 161,
          "DelyRate": 6.4
        },
        {
          "Date": 20171109,
          "Delay": 7,
          "Ontime": 179,
          "DelyRate": 3.76
        },
        {
          "Date": 20171110,
          "Delay": 11,
          "Ontime": 155,
          "DelyRate": 6.63
        },
        {
          "Date": 20171111,
          "Delay": 10,
          "Ontime": 146,
          "DelyRate": 6.41
        },
        {
          "Date": 20171112,
          "Delay": 11,
          "Ontime": 161,
          "DelyRate": 6.4
        },
        {
          "Date": 20171113,
          "Delay": 18,
          "Ontime": 183,
          "DelyRate": 8.96
        },
        {
          "Date": 20171114,
          "Delay": 21,
          "Ontime": 165,
          "DelyRate": 11.29
        },
        {
          "Date": 20171115,
          "Delay": 13,
          "Ontime": 168,
          "DelyRate": 7.18
        },
        {
          "Date": 20171116,
          "Delay": 20,
          "Ontime": 202,
          "DelyRate": 9.01
        },
        {
          "Date": 20171117,
          "Delay": 19,
          "Ontime": 184,
          "DelyRate": 9.36
        },
        {
          "Date": 20171118,
          "Delay": 17,
          "Ontime": 128,
          "DelyRate": 11.72
        },
        {
          "Date": 20171119,
          "Delay": 16,
          "Ontime": 143,
          "DelyRate": 10.06
        },
        {
          "Date": 20171120,
          "Delay": 32,
          "Ontime": 191,
          "DelyRate": 14.35
        },
        {
          "Date": 20171121,
          "Delay": 44,
          "Ontime": 186,
          "DelyRate": 19.13
        },
        {
          "Date": 20171122,
          "Delay": 28,
          "Ontime": 165,
          "DelyRate": 14.51
        },
        {
          "Date": 20171123,
          "Delay": 42,
          "Ontime": 230,
          "DelyRate": 15.44
        },
        {
          "Date": 20171124,
          "Delay": 230,
          "Ontime": 932,
          "DelyRate": 19.79
        },
        {
          "Date": 20171125,
          "Delay": 114,
          "Ontime": 384,
          "DelyRate": 22.89
        },
        {
          "Date": 20171126,
          "Delay": 78,
          "Ontime": 316,
          "DelyRate": 19.8
        },
        {
          "Date": 20171127,
          "Delay": 85,
          "Ontime": 316,
          "DelyRate": 21.2
        },
        {
          "Date": 20171128,
          "Delay": 78,
          "Ontime": 300,
          "DelyRate": 20.63
        },
        {
          "Date": 20171129,
          "Delay": 64,
          "Ontime": 258,
          "DelyRate": 19.88
        },
        {
          "Date": 20171130,
          "Delay": 30,
          "Ontime": 233,
          "DelyRate": 11.41
        },
        {
          "Date": 20171201,
          "Delay": 33,
          "Ontime": 237,
          "DelyRate": 12.22
        },
        {
          "Date": 20171202,
          "Delay": 25,
          "Ontime": 193,
          "DelyRate": 11.47
        },
        {
          "Date": 20171203,
          "Delay": 27,
          "Ontime": 203,
          "DelyRate": 11.74
        },
        {
          "Date": 20171204,
          "Delay": 50,
          "Ontime": 276,
          "DelyRate": 15.34
        },
        {
          "Date": 20171205,
          "Delay": 32,
          "Ontime": 250,
          "DelyRate": 11.35
        },
        {
          "Date": 20171206,
          "Delay": 34,
          "Ontime": 237,
          "DelyRate": 12.55
        },
        {
          "Date": 20171207,
          "Delay": 27,
          "Ontime": 201,
          "DelyRate": 11.84
        },
        {
          "Date": 20171208,
          "Delay": 25,
          "Ontime": 186,
          "DelyRate": 11.85
        },
        {
          "Date": 20171209,
          "Delay": 14,
          "Ontime": 141,
          "DelyRate": 9.03
        },
        {
          "Date": 20171210,
          "Delay": 15,
          "Ontime": 178,
          "DelyRate": 7.77
        },
        {
          "Date": 20171211,
          "Delay": 18,
          "Ontime": 255,
          "DelyRate": 6.59
        },
        {
          "Date": 20171212,
          "Delay": 25,
          "Ontime": 231,
          "DelyRate": 9.77
        },
        {
          "Date": 20171213,
          "Delay": 10,
          "Ontime": 209,
          "DelyRate": 4.57
        },
        {
          "Date": 20171214,
          "Delay": 11,
          "Ontime": 184,
          "DelyRate": 5.64
        },
        {
          "Date": 20171215,
          "Delay": 11,
          "Ontime": 174,
          "DelyRate": 5.95
        },
        {
          "Date": 20171216,
          "Delay": 8,
          "Ontime": 130,
          "DelyRate": 5.8
        },
        {
          "Date": 20171217,
          "Delay": 4,
          "Ontime": 128,
          "DelyRate": 3.03
        },
        {
          "Date": 20171218,
          "Delay": 14,
          "Ontime": 192,
          "DelyRate": 6.8
        },
        {
          "Date": 20171219,
          "Delay": 13,
          "Ontime": 161,
          "DelyRate": 7.47
        },
        {
          "Date": 20171220,
          "Delay": 11,
          "Ontime": 163,
          "DelyRate": 6.32
        },
        {
          "Date": 20171221,
          "Delay": 9,
          "Ontime": 132,
          "DelyRate": 6.38
        },
        {
          "Date": 20171222,
          "Delay": 5,
          "Ontime": 103,
          "DelyRate": 4.63
        },
        {
          "Date": 20171223,
          "Delay": 12,
          "Ontime": 93,
          "DelyRate": 11.43
        },
        {
          "Date": 20171224,
          "Delay": 1,
          "Ontime": 56,
          "DelyRate": 1.75
        },
        {
          "Date": 20171225,
          "Delay": 7,
          "Ontime": 79,
          "DelyRate": 8.14
        },
        {
          "Date": 20171226,
          "Delay": 4,
          "Ontime": 163,
          "DelyRate": 2.4
        },
        {
          "Date": 20171227,
          "Delay": 4,
          "Ontime": 161,
          "DelyRate": 2.42
        },
        {
          "Date": 20171228,
          "Delay": 8,
          "Ontime": 136,
          "DelyRate": 5.56
        },
        {
          "Date": 20171229,
          "Delay": 4,
          "Ontime": 133,
          "DelyRate": 2.92
        },
        {
          "Date": 20171230,
          "Delay": 3,
          "Ontime": 96,
          "DelyRate": 3.03
        },
        {
          "Date": 20171231,
          "Delay": 1,
          "Ontime": 70,
          "DelyRate": 1.41
        },
        {
          "Date": 20180101,
          "Delay": 4,
          "Ontime": 77,
          "DelyRate": 4.94
        },
        {
          "Date": 20180102,
          "Delay": 4,
          "Ontime": 202,
          "DelyRate": 1.94
        },
        {
          "Date": 20180103,
          "Delay": 9,
          "Ontime": 213,
          "DelyRate": 4.05
        },
        {
          "Date": 20180104,
          "Delay": 15,
          "Ontime": 239,
          "DelyRate": 5.91
        },
        {
          "Date": 20180105,
          "Delay": 10,
          "Ontime": 196,
          "DelyRate": 4.85
        },
        {
          "Date": 20180106,
          "Delay": 6,
          "Ontime": 218,
          "DelyRate": 2.68
        },
        {
          "Date": 20180107,
          "Delay": 6,
          "Ontime": 186,
          "DelyRate": 3.13
        },
        {
          "Date": 20180108,
          "Delay": 11,
          "Ontime": 287,
          "DelyRate": 3.69
        },
        {
          "Date": 20180109,
          "Delay": 11,
          "Ontime": 237,
          "DelyRate": 4.44
        },
        {
          "Date": 20180110,
          "Delay": 16,
          "Ontime": 259,
          "DelyRate": 5.82
        },
        {
          "Date": 20180111,
          "Delay": 8,
          "Ontime": 259,
          "DelyRate": 3.0
        },
        {
          "Date": 20180112,
          "Delay": 11,
          "Ontime": 229,
          "DelyRate": 4.58
        },
        {
          "Date": 20180113,
          "Delay": 6,
          "Ontime": 207,
          "DelyRate": 2.82
        },
        {
          "Date": 20180114,
          "Delay": 16,
          "Ontime": 220,
          "DelyRate": 6.78
        },
        {
          "Date": 20180115,
          "Delay": 16,
          "Ontime": 287,
          "DelyRate": 5.28
        },
        {
          "Date": 20180116,
          "Delay": 28,
          "Ontime": 278,
          "DelyRate": 9.15
        },
        {
          "Date": 20180117,
          "Delay": 17,
          "Ontime": 263,
          "DelyRate": 6.07
        },
        {
          "Date": 20180118,
          "Delay": 15,
          "Ontime": 227,
          "DelyRate": 6.2
        },
        {
          "Date": 20180119,
          "Delay": 19,
          "Ontime": 211,
          "DelyRate": 8.26
        },
        {
          "Date": 20180120,
          "Delay": 18,
          "Ontime": 168,
          "DelyRate": 9.68
        },
        {
          "Date": 20180121,
          "Delay": 18,
          "Ontime": 176,
          "DelyRate": 9.28
        },
        {
          "Date": 20180122,
          "Delay": 26,
          "Ontime": 284,
          "DelyRate": 8.39
        },
        {
          "Date": 20180123,
          "Delay": 25,
          "Ontime": 237,
          "DelyRate": 9.54
        },
        {
          "Date": 20180124,
          "Delay": 33,
          "Ontime": 209,
          "DelyRate": 13.64
        },
        {
          "Date": 20180125,
          "Delay": 15,
          "Ontime": 216,
          "DelyRate": 6.49
        },
        {
          "Date": 20180126,
          "Delay": 14,
          "Ontime": 218,
          "DelyRate": 6.03
        },
        {
          "Date": 20180127,
          "Delay": 11,
          "Ontime": 147,
          "DelyRate": 6.96
        },
        {
          "Date": 20180128,
          "Delay": 6,
          "Ontime": 143,
          "DelyRate": 4.03
        },
        {
          "Date": 20180129,
          "Delay": 31,
          "Ontime": 209,
          "DelyRate": 12.92
        },
        {
          "Date": 20180130,
          "Delay": 27,
          "Ontime": 209,
          "DelyRate": 11.44
        },
        {
          "Date": 20180131,
          "Delay": 12,
          "Ontime": 241,
          "DelyRate": 4.74
        },
        {
          "Date": 20180201,
          "Delay": 15,
          "Ontime": 213,
          "DelyRate": 6.58
        },
        {
          "Date": 20180202,
          "Delay": 20,
          "Ontime": 187,
          "DelyRate": 9.66
        },
        {
          "Date": 20180203,
          "Delay": 7,
          "Ontime": 185,
          "DelyRate": 3.65
        },
        {
          "Date": 20180204,
          "Delay": 10,
          "Ontime": 196,
          "DelyRate": 4.85
        },
        {
          "Date": 20180205,
          "Delay": 23,
          "Ontime": 247,
          "DelyRate": 8.52
        },
        {
          "Date": 20180206,
          "Delay": 17,
          "Ontime": 245,
          "DelyRate": 6.49
        },
        {
          "Date": 20180207,
          "Delay": 15,
          "Ontime": 227,
          "DelyRate": 6.2
        },
        {
          "Date": 20180208,
          "Delay": 25,
          "Ontime": 197,
          "DelyRate": 11.26
        },
        {
          "Date": 20180209,
          "Delay": 28,
          "Ontime": 180,
          "DelyRate": 13.46
        },
        {
          "Date": 20180210,
          "Delay": 16,
          "Ontime": 164,
          "DelyRate": 8.89
        },
        {
          "Date": 20180211,
          "Delay": 25,
          "Ontime": 140,
          "DelyRate": 15.15
        },
        {
          "Date": 20180212,
          "Delay": 36,
          "Ontime": 179,
          "DelyRate": 16.74
        },
        {
          "Date": 20180213,
          "Delay": 26,
          "Ontime": 194,
          "DelyRate": 11.82
        },
        {
          "Date": 20180214,
          "Delay": 39,
          "Ontime": 245,
          "DelyRate": 13.73
        },
        {
          "Date": 20180215,
          "Delay": 41,
          "Ontime": 236,
          "DelyRate": 14.8
        },
        {
          "Date": 20180216,
          "Delay": 33,
          "Ontime": 178,
          "DelyRate": 15.64
        },
        {
          "Date": 20180217,
          "Delay": 29,
          "Ontime": 170,
          "DelyRate": 14.57
        },
        {
          "Date": 20180218,
          "Delay": 31,
          "Ontime": 170,
          "DelyRate": 15.42
        },
        {
          "Date": 20180219,
          "Delay": 47,
          "Ontime": 205,
          "DelyRate": 18.65
        },
        {
          "Date": 20180220,
          "Delay": 41,
          "Ontime": 252,
          "DelyRate": 13.99
        },
        {
          "Date": 20180221,
          "Delay": 61,
          "Ontime": 199,
          "DelyRate": 23.46
        },
        {
          "Date": 20180222,
          "Delay": 57,
          "Ontime": 215,
          "DelyRate": 20.96
        },
        {
          "Date": 20180223,
          "Delay": 49,
          "Ontime": 184,
          "DelyRate": 21.03
        },
        {
          "Date": 20180224,
          "Delay": 51,
          "Ontime": 138,
          "DelyRate": 26.98
        },
        {
          "Date": 20180225,
          "Delay": 59,
          "Ontime": 178,
          "DelyRate": 24.89
        },
        {
          "Date": 20180226,
          "Delay": 91,
          "Ontime": 207,
          "DelyRate": 30.54
        },
        {
          "Date": 20180227,
          "Delay": 77,
          "Ontime": 216,
          "DelyRate": 26.28
        },
        {
          "Date": 20180228,
          "Delay": 81,
          "Ontime": 226,
          "DelyRate": 26.38
        },
        {
          "Date": 20180301,
          "Delay": 76,
          "Ontime": 194,
          "DelyRate": 28.15
        },
        {
          "Date": 20180302,
          "Delay": 85,
          "Ontime": 186,
          "DelyRate": 31.37
        },
        {
          "Date": 20180303,
          "Delay": 64,
          "Ontime": 141,
          "DelyRate": 31.22
        },
        {
          "Date": 20180304,
          "Delay": 65,
          "Ontime": 167,
          "DelyRate": 28.02
        },
        {
          "Date": 20180305,
          "Delay": 73,
          "Ontime": 182,
          "DelyRate": 28.63
        },
        {
          "Date": 20180306,
          "Delay": 82,
          "Ontime": 188,
          "DelyRate": 30.37
        },
        {
          "Date": 20180307,
          "Delay": 80,
          "Ontime": 175,
          "DelyRate": 31.37
        },
        {
          "Date": 20180308,
          "Delay": 57,
          "Ontime": 178,
          "DelyRate": 24.26
        },
        {
          "Date": 20180309,
          "Delay": 44,
          "Ontime": 155,
          "DelyRate": 22.11
        },
        {
          "Date": 20180310,
          "Delay": 51,
          "Ontime": 134,
          "DelyRate": 27.57
        },
        {
          "Date": 20180311,
          "Delay": 58,
          "Ontime": 158,
          "DelyRate": 26.85
        },
        {
          "Date": 20180312,
          "Delay": 69,
          "Ontime": 161,
          "DelyRate": 30.0
        },
        {
          "Date": 20180313,
          "Delay": 54,
          "Ontime": 164,
          "DelyRate": 24.77
        },
        {
          "Date": 20180314,
          "Delay": 46,
          "Ontime": 150,
          "DelyRate": 23.47
        },
        {
          "Date": 20180315,
          "Delay": 66,
          "Ontime": 207,
          "DelyRate": 24.18
        },
        {
          "Date": 20180316,
          "Delay": 53,
          "Ontime": 200,
          "DelyRate": 20.95
        },
        {
          "Date": 20180317,
          "Delay": 36,
          "Ontime": 140,
          "DelyRate": 20.45
        },
        {
          "Date": 20180318,
          "Delay": 33,
          "Ontime": 183,
          "DelyRate": 15.28
        },
        {
          "Date": 20180319,
          "Delay": 70,
          "Ontime": 233,
          "DelyRate": 23.1
        },
        {
          "Date": 20180320,
          "Delay": 43,
          "Ontime": 256,
          "DelyRate": 14.38
        },
        {
          "Date": 20180321,
          "Delay": 31,
          "Ontime": 250,
          "DelyRate": 11.03
        },
        {
          "Date": 20180322,
          "Delay": 31,
          "Ontime": 225,
          "DelyRate": 12.11
        },
        {
          "Date": 20180323,
          "Delay": 15,
          "Ontime": 201,
          "DelyRate": 6.94
        },
        {
          "Date": 20180324,
          "Delay": 21,
          "Ontime": 153,
          "DelyRate": 12.07
        },
        {
          "Date": 20180325,
          "Delay": 29,
          "Ontime": 165,
          "DelyRate": 14.95
        },
        {
          "Date": 20180326,
          "Delay": 36,
          "Ontime": 237,
          "DelyRate": 13.19
        },
        {
          "Date": 20180327,
          "Delay": 35,
          "Ontime": 212,
          "DelyRate": 14.17
        },
        {
          "Date": 20180328,
          "Delay": 27,
          "Ontime": 186,
          "DelyRate": 12.68
        },
        {
          "Date": 20180329,
          "Delay": 29,
          "Ontime": 166,
          "DelyRate": 14.87
        },
        {
          "Date": 20180330,
          "Delay": 20,
          "Ontime": 154,
          "DelyRate": 11.49
        },
        {
          "Date": 20180331,
          "Delay": 26,
          "Ontime": 146,
          "DelyRate": 15.12
        },
        {
          "Date": 20180401,
          "Delay": 20,
          "Ontime": 187,
          "DelyRate": 9.66
        },
        {
          "Date": 20180402,
          "Delay": 41,
          "Ontime": 242,
          "DelyRate": 14.49
        },
        {
          "Date": 20180403,
          "Delay": 26,
          "Ontime": 220,
          "DelyRate": 10.57
        },
        {
          "Date": 20180404,
          "Delay": 18,
          "Ontime": 244,
          "DelyRate": 6.87
        },
        {
          "Date": 20180405,
          "Delay": 13,
          "Ontime": 249,
          "DelyRate": 4.96
        },
        {
          "Date": 20180406,
          "Delay": 6,
          "Ontime": 178,
          "DelyRate": 3.26
        },
        {
          "Date": 20180407,
          "Delay": 9,
          "Ontime": 156,
          "DelyRate": 5.45
        },
        {
          "Date": 20180408,
          "Delay": 13,
          "Ontime": 179,
          "DelyRate": 6.77
        },
        {
          "Date": 20180409,
          "Delay": 12,
          "Ontime": 241,
          "DelyRate": 4.74
        },
        {
          "Date": 20180410,
          "Delay": 10,
          "Ontime": 189,
          "DelyRate": 5.03
        },
        {
          "Date": 20180411,
          "Delay": 11,
          "Ontime": 256,
          "DelyRate": 4.12
        },
        {
          "Date": 20180412,
          "Delay": 8,
          "Ontime": 253,
          "DelyRate": 3.07
        },
        {
          "Date": 20180413,
          "Delay": 6,
          "Ontime": 201,
          "DelyRate": 2.9
        },
        {
          "Date": 20180414,
          "Delay": 7,
          "Ontime": 144,
          "DelyRate": 4.64
        },
        {
          "Date": 20180415,
          "Delay": 7,
          "Ontime": 220,
          "DelyRate": 3.08
        },
        {
          "Date": 20180416,
          "Delay": 13,
          "Ontime": 284,
          "DelyRate": 4.38
        },
        {
          "Date": 20180417,
          "Delay": 12,
          "Ontime": 257,
          "DelyRate": 4.46
        },
        {
          "Date": 20180418,
          "Delay": 20,
          "Ontime": 253,
          "DelyRate": 7.33
        },
        {
          "Date": 20180419,
          "Delay": 12,
          "Ontime": 261,
          "DelyRate": 4.4
        },
        {
          "Date": 20180420,
          "Delay": 3,
          "Ontime": 102,
          "DelyRate": 2.86
        },
        {
          "Date": 20180421,
          "Delay": 4,
          "Ontime": 65,
          "DelyRate": 5.8
        },
        {
          "Date": 20180422,
          "Delay": 5,
          "Ontime": 83,
          "DelyRate": 5.68
        },
        {
          "Date": 20180423,
          "Delay": 12,
          "Ontime": 204,
          "DelyRate": 5.56
        },
        {
          "Date": 20180424,
          "Delay": 6,
          "Ontime": 267,
          "DelyRate": 2.2
        },
        {
          "Date": 20180425,
          "Delay": 12,
          "Ontime": 271,
          "DelyRate": 4.24
        },
        {
          "Date": 20180426,
          "Delay": 11,
          "Ontime": 242,
          "DelyRate": 4.35
        },
        {
          "Date": 20180427,
          "Delay": 13,
          "Ontime": 229,
          "DelyRate": 5.37
        },
        {
          "Date": 20180428,
          "Delay": 9,
          "Ontime": 160,
          "DelyRate": 5.33
        },
        {
          "Date": 20180429,
          "Delay": 10,
          "Ontime": 166,
          "DelyRate": 5.68
        },
        {
          "Date": 20180430,
          "Delay": 5,
          "Ontime": 238,
          "DelyRate": 2.06
        },
        {
          "Date": 20180501,
          "Delay": 9,
          "Ontime": 243,
          "DelyRate": 3.57
        },
        {
          "Date": 20180502,
          "Delay": 16,
          "Ontime": 277,
          "DelyRate": 5.46
        },
        {
          "Date": 20180503,
          "Delay": 12,
          "Ontime": 296,
          "DelyRate": 3.9
        },
        {
          "Date": 20180504,
          "Delay": 9,
          "Ontime": 262,
          "DelyRate": 3.32
        },
        {
          "Date": 20180505,
          "Delay": 11,
          "Ontime": 184,
          "DelyRate": 5.64
        },
        {
          "Date": 20180506,
          "Delay": 8,
          "Ontime": 204,
          "DelyRate": 3.77
        },
        {
          "Date": 20180507,
          "Delay": 23,
          "Ontime": 344,
          "DelyRate": 6.27
        },
        {
          "Date": 20180508,
          "Delay": 22,
          "Ontime": 313,
          "DelyRate": 6.57
        },
        {
          "Date": 20180509,
          "Delay": 27,
          "Ontime": 317,
          "DelyRate": 7.85
        },
        {
          "Date": 20180510,
          "Delay": 23,
          "Ontime": 254,
          "DelyRate": 8.3
        },
        {
          "Date": 20180511,
          "Delay": 28,
          "Ontime": 219,
          "DelyRate": 11.34
        },
        {
          "Date": 20180512,
          "Delay": 13,
          "Ontime": 195,
          "DelyRate": 6.25
        },
        {
          "Date": 20180513,
          "Delay": 13,
          "Ontime": 208,
          "DelyRate": 5.88
        },
        {
          "Date": 20180514,
          "Delay": 48,
          "Ontime": 306,
          "DelyRate": 13.56
        },
        {
          "Date": 20180515,
          "Delay": 52,
          "Ontime": 305,
          "DelyRate": 14.57
        },
        {
          "Date": 20180516,
          "Delay": 59,
          "Ontime": 300,
          "DelyRate": 16.43
        },
        {
          "Date": 20180517,
          "Delay": 41,
          "Ontime": 183,
          "DelyRate": 18.3
        },
        {
          "Date": 20180518,
          "Delay": 35,
          "Ontime": 202,
          "DelyRate": 14.77
        },
        {
          "Date": 20180519,
          "Delay": 22,
          "Ontime": 125,
          "DelyRate": 14.97
        },
        {
          "Date": 20180520,
          "Delay": 32,
          "Ontime": 132,
          "DelyRate": 19.51
        },
        {
          "Date": 20180521,
          "Delay": 27,
          "Ontime": 171,
          "DelyRate": 13.64
        },
        {
          "Date": 20180522,
          "Delay": 17,
          "Ontime": 182,
          "DelyRate": 8.54
        },
        {
          "Date": 20180523,
          "Delay": 3,
          "Ontime": 135,
          "DelyRate": 2.17
        },
        {
          "Date": 20180524,
          "Delay": 2,
          "Ontime": 109,
          "DelyRate": 1.8
        },
        {
          "Date": 20180525,
          "Delay": 1,
          "Ontime": 107,
          "DelyRate": 0.93
        },
        {
          "Date": 20180526,
          "Delay": 1,
          "Ontime": 104,
          "DelyRate": 0.95
        },
        {
          "Date": 20180527,
          "Delay": 0,
          "Ontime": 104,
          "DelyRate": 0.0
        },
        {
          "Date": 20180528,
          "Delay": 0,
          "Ontime": 146,
          "DelyRate": 0.0
        },
        {
          "Date": 20180529,
          "Delay": 0,
          "Ontime": 153,
          "DelyRate": 0.0
        },
        {
          "Date": 20180530,
          "Delay": 0,
          "Ontime": 133,
          "DelyRate": 0.0
        },
        {
          "Date": 20180531,
          "Delay": 1,
          "Ontime": 133,
          "DelyRate": 0.75
        },
        {
          "Date": 20180601,
          "Delay": 2,
          "Ontime": 186,
          "DelyRate": 1.06
        },
        {
          "Date": 20180602,
          "Delay": 1,
          "Ontime": 144,
          "DelyRate": 0.69
        },
        {
          "Date": 20180603,
          "Delay": 0,
          "Ontime": 194,
          "DelyRate": 0.0
        },
        {
          "Date": 20180604,
          "Delay": 0,
          "Ontime": 232,
          "DelyRate": 0.0
        },
        {
          "Date": 20180605,
          "Delay": 2,
          "Ontime": 196,
          "DelyRate": 1.01
        },
        {
          "Date": 20180606,
          "Delay": 3,
          "Ontime": 223,
          "DelyRate": 1.33
        },
        {
          "Date": 20180607,
          "Delay": 1,
          "Ontime": 222,
          "DelyRate": 0.45
        },
        {
          "Date": 20180608,
          "Delay": 7,
          "Ontime": 193,
          "DelyRate": 3.5
        },
        {
          "Date": 20180609,
          "Delay": 2,
          "Ontime": 172,
          "DelyRate": 1.15
        },
        {
          "Date": 20180610,
          "Delay": 4,
          "Ontime": 195,
          "DelyRate": 2.01
        },
        {
          "Date": 20180611,
          "Delay": 11,
          "Ontime": 283,
          "DelyRate": 3.74
        },
        {
          "Date": 20180612,
          "Delay": 8,
          "Ontime": 233,
          "DelyRate": 3.32
        },
        {
          "Date": 20180613,
          "Delay": 3,
          "Ontime": 257,
          "DelyRate": 1.15
        },
        {
          "Date": 20180614,
          "Delay": 4,
          "Ontime": 215,
          "DelyRate": 1.83
        },
        {
          "Date": 20180615,
          "Delay": 2,
          "Ontime": 179,
          "DelyRate": 1.1
        },
        {
          "Date": 20180616,
          "Delay": 1,
          "Ontime": 164,
          "DelyRate": 0.61
        },
        {
          "Date": 20180617,
          "Delay": 4,
          "Ontime": 152,
          "DelyRate": 2.56
        },
        {
          "Date": 20180618,
          "Delay": 2,
          "Ontime": 237,
          "DelyRate": 0.84
        },
        {
          "Date": 20180619,
          "Delay": 4,
          "Ontime": 218,
          "DelyRate": 1.8
        },
        {
          "Date": 20180620,
          "Delay": 0,
          "Ontime": 219,
          "DelyRate": 0.0
        },
        {
          "Date": 20180621,
          "Delay": 5,
          "Ontime": 233,
          "DelyRate": 2.1
        },
        {
          "Date": 20180622,
          "Delay": 1,
          "Ontime": 180,
          "DelyRate": 0.55
        },
        {
          "Date": 20180623,
          "Delay": 2,
          "Ontime": 154,
          "DelyRate": 1.28
        },
        {
          "Date": 20180624,
          "Delay": 3,
          "Ontime": 206,
          "DelyRate": 1.44
        },
        {
          "Date": 20180625,
          "Delay": 3,
          "Ontime": 233,
          "DelyRate": 1.27
        },
        {
          "Date": 20180626,
          "Delay": 0,
          "Ontime": 240,
          "DelyRate": 0.0
        },
        {
          "Date": 20180627,
          "Delay": 2,
          "Ontime": 203,
          "DelyRate": 0.98
        },
        {
          "Date": 20180628,
          "Delay": 3,
          "Ontime": 247,
          "DelyRate": 1.2
        },
        {
          "Date": 20180629,
          "Delay": 2,
          "Ontime": 155,
          "DelyRate": 1.27
        },
        {
          "Date": 20180630,
          "Delay": 0,
          "Ontime": 118,
          "DelyRate": 0.0
        },
        {
          "Date": 20180701,
          "Delay": 0,
          "Ontime": 138,
          "DelyRate": 0.0
        },
        {
          "Date": 20180702,
          "Delay": 0,
          "Ontime": 156,
          "DelyRate": 0.0
        },
        {
          "Date": 20180703,
          "Delay": 3,
          "Ontime": 37,
          "DelyRate": 7.5
        },
        {
          "Date": 20180704,
          "Delay": 2,
          "Ontime": 101,
          "DelyRate": 1.94
        },
        {
          "Date": 20180705,
          "Delay": 5,
          "Ontime": 158,
          "DelyRate": 3.07
        },
        {
          "Date": 20180706,
          "Delay": 2,
          "Ontime": 119,
          "DelyRate": 1.65
        },
        {
          "Date": 20180707,
          "Delay": 0,
          "Ontime": 89,
          "DelyRate": 0.0
        },
        {
          "Date": 20180708,
          "Delay": 3,
          "Ontime": 118,
          "DelyRate": 2.48
        },
        {
          "Date": 20180709,
          "Delay": 8,
          "Ontime": 138,
          "DelyRate": 5.48
        },
        {
          "Date": 20180710,
          "Delay": 8,
          "Ontime": 117,
          "DelyRate": 6.4
        },
        {
          "Date": 20180711,
          "Delay": 10,
          "Ontime": 116,
          "DelyRate": 7.94
        },
        {
          "Date": 20180712,
          "Delay": 13,
          "Ontime": 107,
          "DelyRate": 10.83
        },
        {
          "Date": 20180713,
          "Delay": 4,
          "Ontime": 166,
          "DelyRate": 2.35
        },
        {
          "Date": 20180714,
          "Delay": 8,
          "Ontime": 135,
          "DelyRate": 5.59
        },
        {
          "Date": 20180715,
          "Delay": 8,
          "Ontime": 146,
          "DelyRate": 5.19
        },
        {
          "Date": 20180716,
          "Delay": 16,
          "Ontime": 221,
          "DelyRate": 6.75
        },
        {
          "Date": 20180717,
          "Delay": 14,
          "Ontime": 209,
          "DelyRate": 6.28
        },
        {
          "Date": 20180718,
          "Delay": 9,
          "Ontime": 287,
          "DelyRate": 3.04
        },
        {
          "Date": 20180719,
          "Delay": 5,
          "Ontime": 252,
          "DelyRate": 1.95
        },
        {
          "Date": 20180720,
          "Delay": 9,
          "Ontime": 241,
          "DelyRate": 3.6
        },
        {
          "Date": 20180721,
          "Delay": 5,
          "Ontime": 169,
          "DelyRate": 2.87
        },
        {
          "Date": 20180722,
          "Delay": 6,
          "Ontime": 186,
          "DelyRate": 3.13
        },
        {
          "Date": 20180723,
          "Delay": 18,
          "Ontime": 277,
          "DelyRate": 6.1
        },
        {
          "Date": 20180724,
          "Delay": 9,
          "Ontime": 263,
          "DelyRate": 3.31
        },
        {
          "Date": 20180725,
          "Delay": 8,
          "Ontime": 261,
          "DelyRate": 2.97
        },
        {
          "Date": 20180726,
          "Delay": 7,
          "Ontime": 235,
          "DelyRate": 2.89
        },
        {
          "Date": 20180727,
          "Delay": 5,
          "Ontime": 184,
          "DelyRate": 2.65
        },
        {
          "Date": 20180728,
          "Delay": 3,
          "Ontime": 177,
          "DelyRate": 1.67
        },
        {
          "Date": 20180729,
          "Delay": 12,
          "Ontime": 173,
          "DelyRate": 6.49
        },
        {
          "Date": 20180730,
          "Delay": 30,
          "Ontime": 238,
          "DelyRate": 11.19
        },
        {
          "Date": 20180731,
          "Delay": 37,
          "Ontime": 268,
          "DelyRate": 12.13
        },
        {
          "Date": 20180801,
          "Delay": 40,
          "Ontime": 275,
          "DelyRate": 12.7
        },
        {
          "Date": 20180802,
          "Delay": 45,
          "Ontime": 255,
          "DelyRate": 15.0
        },
        {
          "Date": 20180803,
          "Delay": 47,
          "Ontime": 265,
          "DelyRate": 15.06
        },
        {
          "Date": 20180804,
          "Delay": 26,
          "Ontime": 214,
          "DelyRate": 10.83
        },
        {
          "Date": 20180805,
          "Delay": 48,
          "Ontime": 229,
          "DelyRate": 17.33
        },
        {
          "Date": 20180806,
          "Delay": 72,
          "Ontime": 302,
          "DelyRate": 19.25
        },
        {
          "Date": 20180807,
          "Delay": 63,
          "Ontime": 309,
          "DelyRate": 16.94
        },
        {
          "Date": 20180808,
          "Delay": 35,
          "Ontime": 277,
          "DelyRate": 11.22
        },
        {
          "Date": 20180809,
          "Delay": 27,
          "Ontime": 251,
          "DelyRate": 9.71
        },
        {
          "Date": 20180810,
          "Delay": 26,
          "Ontime": 222,
          "DelyRate": 10.48
        },
        {
          "Date": 20180811,
          "Delay": 8,
          "Ontime": 183,
          "DelyRate": 4.19
        },
        {
          "Date": 20180812,
          "Delay": 9,
          "Ontime": 192,
          "DelyRate": 4.48
        },
        {
          "Date": 20180813,
          "Delay": 19,
          "Ontime": 266,
          "DelyRate": 6.67
        },
        {
          "Date": 20180814,
          "Delay": 38,
          "Ontime": 277,
          "DelyRate": 12.06
        },
        {
          "Date": 20180815,
          "Delay": 24,
          "Ontime": 262,
          "DelyRate": 8.39
        },
        {
          "Date": 20180816,
          "Delay": 28,
          "Ontime": 284,
          "DelyRate": 8.97
        },
        {
          "Date": 20180817,
          "Delay": 11,
          "Ontime": 245,
          "DelyRate": 4.3
        },
        {
          "Date": 20180818,
          "Delay": 5,
          "Ontime": 188,
          "DelyRate": 2.59
        },
        {
          "Date": 20180819,
          "Delay": 11,
          "Ontime": 199,
          "DelyRate": 5.24
        },
        {
          "Date": 20180820,
          "Delay": 25,
          "Ontime": 233,
          "DelyRate": 9.69
        },
        {
          "Date": 20180821,
          "Delay": 17,
          "Ontime": 224,
          "DelyRate": 7.05
        },
        {
          "Date": 20180822,
          "Delay": 11,
          "Ontime": 183,
          "DelyRate": 5.67
        },
        {
          "Date": 20180823,
          "Delay": 7,
          "Ontime": 131,
          "DelyRate": 5.07
        },
        {
          "Date": 20180824,
          "Delay": 9,
          "Ontime": 90,
          "DelyRate": 9.09
        },
        {
          "Date": 20180825,
          "Delay": 1,
          "Ontime": 69,
          "DelyRate": 1.43
        },
        {
          "Date": 20180826,
          "Delay": 1,
          "Ontime": 76,
          "DelyRate": 1.3
        },
        {
          "Date": 20180827,
          "Delay": 6,
          "Ontime": 63,
          "DelyRate": 8.7
        },
        {
          "Date": 20180828,
          "Delay": 1,
          "Ontime": 39,
          "DelyRate": 2.5
        },
        {
          "Date": 20180829,
          "Delay": 0,
          "Ontime": 11,
          "DelyRate": 0.0
        }
      ];

      // Create axes
      // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
      var xAxis = chart.xAxes.push(
        am5xy.CategoryAxis.new(root, {
          categoryField: "Date",
          renderer: am5xy.AxisRendererX.new(root, {}),
          tooltip: am5.Tooltip.new(root, {})
        })
      );

      xAxis.data.setAll(data);

      var yAxis = chart.yAxes.push(
        am5xy.ValueAxis.new(root, {
          min: 0,
          extraMax: 0.1,
          renderer: am5xy.AxisRendererY.new(root, {})
        })
      );

      var yAxis2 = chart.yAxes.push(
        am5xy.ValueAxis.new(root, {
          min: 0,
          extraMax: 0.1,
          syncWithAxis: yAxis,
          renderer: am5xy.AxisRendererY.new(root, { opposite: true })
        })
      );


      // Add series
      // https://www.amcharts.com/docs/v5/charts/xy-chart/series/

      // Add series
      // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
      function makeSeries(name, fieldName) {
        var series1 = chart.series.push(am5xy.ColumnSeries.new(root, {
          name: name,
          stacked: true,
          xAxis: xAxis,
          yAxis: yAxis,
          valueYField: fieldName,
          categoryXField: "Date"
        }));
        series1.data.setAll(data);
        series1.appear();

        //   series1.bullets.push(function () {
        //     return am5.Bullet.new(root, {
        //       sprite: am5.Label.new(root, {
        //         text: "{valueY}",
        //         fill: root.interfaceColors.get("alternativeText"),
        //         centerY: am5.p50,
        //         centerX: am5.p50,
        //         populateText: true
        //       })
        //     });
        //   });
      }


      makeSeries("Ontime", "Ontime");
      makeSeries("Delay", "Delay");

      var series2 = chart.series.push(
        am5xy.LineSeries.new(root, {
          name: "DelyRate",
          xAxis: xAxis,
          yAxis: yAxis2,
          valueYField: "DelyRate",
          categoryXField: "Date",
          tooltip: am5.Tooltip.new(root, {
            pointerOrientation: "horizontal",
            labelText: "{name} in {categoryX}: {valueY} {info}"
          })
        })
      );

      series2.strokes.template.setAll({
        strokeWidth: 3,
        templateField: "strokeSettings"
      });


      series2.data.setAll(data);

      series2.bullets.push(function () {
        return am5.Bullet.new(root, {
          sprite: am5.Circle.new(root, {
            strokeWidth: 1,
            stroke: series2.get("stroke"),
            radius: 3,
            fill: root.interfaceColors.get("background")
          })
        });
      });

      chart.set("cursor", am5xy.XYCursor.new(root, {}));

      // Add legend
      // https://www.amcharts.com/docs/v5/charts/xy-chart/legend-xy-series/
      var legend = chart.children.push(
        am5.Legend.new(root, {
          centerX: am5.p50,
          x: am5.p50
        })
      );
      legend.data.setAll(chart.series.values);

      // Make stuff animate on load
      // https://www.amcharts.com/docs/v5/concepts/animations/
      chart.appear(1000, 100);
      series1.appear();

    }); // end am5.ready()
  </script>

  <!-- 產品分類訂單延遲次數及延遲率, productLineChart -->
  <script>
    am5.ready(function () {

      // Create root element
      // https://www.amcharts.com/docs/v5/getting-started/#Root_element
      var root = am5.Root.new("productLineChart");

      // Set themes
      // https://www.amcharts.com/docs/v5/concepts/themes/
      root.setThemes([am5themes_Animated.new(root)]);

      // Create chart
      // https://www.amcharts.com/docs/v5/charts/xy-chart/
      var chart = root.container.children.push(
        am5xy.XYChart.new(root, {
          panX: false,
          panY: false,
          wheelX: "panX",
          wheelY: "zoomX",
          layout: root.verticalLayout
        })
      );

      // Add scrollbar
      // https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
      chart.set(
        "scrollbarX",
        am5.Scrollbar.new(root, {
          orientation: "horizontal"
        })
      );

      var data = [
        {
          "product_category": "3electronic_appliances",
          "Delay": 1337,
          "Ontime": 15257,
          "DelyRate": 8.06
        },
        {
          "product_category": "art_books_music",
          "Delay": 184,
          "Ontime": 1834,
          "DelyRate": 9.12
        },
        {
          "product_category": "auto",
          "Delay": 327,
          "Ontime": 3472,
          "DelyRate": 8.61
        },
        {
          "product_category": "cool_stuff",
          "Delay": 242,
          "Ontime": 3334,
          "DelyRate": 6.77
        },
        {
          "product_category": "fashion_clothes_accessories",
          "Delay": 854,
          "Ontime": 10044,
          "DelyRate": 7.84
        },
        {
          "product_category": "food_drink",
          "Delay": 77,
          "Ontime": 868,
          "DelyRate": 8.15
        },
        {
          "product_category": "health_beauty",
          "Delay": 772,
          "Ontime": 7796,
          "DelyRate": 9.01
        },
        {
          "product_category": "homelife",
          "Delay": 1966,
          "Ontime": 22637,
          "DelyRate": 7.99
        },
        {
          "product_category": "kids",
          "Delay": 539,
          "Ontime": 6109,
          "DelyRate": 8.11
        },
        {
          "product_category": "office",
          "Delay": 143,
          "Ontime": 1516,
          "DelyRate": 8.62
        },
        {
          "product_category": "pet_shop",
          "Delay": 105,
          "Ontime": 1592,
          "DelyRate": 6.19
        },
        {
          "product_category": "sports_leisure",
          "Delay": 584,
          "Ontime": 6974,
          "DelyRate": 7.73
        },
        {
          "product_category": "stationery",
          "Delay": 176,
          "Ontime": 2091,
          "DelyRate": 7.76
        },
        {
          "product_category": "tools",
          "Delay": 395,
          "Ontime": 4614,
          "DelyRate": 7.89
        }
      ];

      // Create axes
      // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
      var xAxis = chart.xAxes.push(
        am5xy.CategoryAxis.new(root, {
          categoryField: "product_category",
          renderer: am5xy.AxisRendererX.new(root, {}),
          tooltip: am5.Tooltip.new(root, {})
        })
      );

      xAxis.data.setAll(data);

      var yAxis = chart.yAxes.push(
        am5xy.ValueAxis.new(root, {
          min: 0,
          extraMax: 0.1,
          renderer: am5xy.AxisRendererY.new(root, {})
        })
      );

      var yAxis2 = chart.yAxes.push(
        am5xy.ValueAxis.new(root, {
          min: 0,
          extraMax: 0.1,
          syncWithAxis: yAxis,
          renderer: am5xy.AxisRendererY.new(root, { opposite: true })
        })
      );


      // Add series
      // https://www.amcharts.com/docs/v5/charts/xy-chart/series/

      // Add series
      // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
      function makeSeries(name, fieldName) {
        var series1 = chart.series.push(am5xy.ColumnSeries.new(root, {
          name: name,
          stacked: true,
          xAxis: xAxis,
          yAxis: yAxis,
          valueYField: fieldName,
          categoryXField: "product_category"
        }));
        series1.data.setAll(data);
        series1.appear();

        series1.bullets.push(function () {
          return am5.Bullet.new(root, {
            sprite: am5.Label.new(root, {
              text: "{valueY}",
              fill: root.interfaceColors.get("alternativeText"),
              centerY: am5.p50,
              centerX: am5.p50,
              populateText: true
            })
          });
        });
      }

      makeSeries("Ontime", "Ontime");
      makeSeries("Delay", "Delay");

      var series2 = chart.series.push(
        am5xy.LineSeries.new(root, {
          name: "DelyRate",
          xAxis: xAxis,
          yAxis: yAxis2,
          valueYField: "DelyRate",
          categoryXField: "product_category",
          tooltip: am5.Tooltip.new(root, {
            pointerOrientation: "horizontal",
            labelText: "{name} in {categoryX}: {valueY} {info}"
          })
        })
      );

      series2.strokes.template.setAll({
        strokeWidth: 3,
        templateField: "strokeSettings"
      });


      series2.data.setAll(data);

      series2.bullets.push(function () {
        return am5.Bullet.new(root, {
          sprite: am5.Circle.new(root, {
            strokeWidth: 3,
            stroke: series2.get("stroke"),
            radius: 5,
            fill: root.interfaceColors.get("background")
          })
        });
      });

      chart.set("cursor", am5xy.XYCursor.new(root, {}));

      // Add legend
      // https://www.amcharts.com/docs/v5/charts/xy-chart/legend-xy-series/
      var legend = chart.children.push(
        am5.Legend.new(root, {
          centerX: am5.p50,
          x: am5.p50
        })
      );
      legend.data.setAll(chart.series.values);

      // Make stuff animate on load
      // https://www.amcharts.com/docs/v5/concepts/animations/
      chart.appear(1000, 100);
      series1.appear();

    }); // end am5.ready()
  </script>
<% end %>
