<div class="pagetitle">
  <h1>研究摘要</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">首頁</a></li>
      <li class="breadcrumb-item">銷售小組</li>
      <li class="breadcrumb-item">研究摘要</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-6">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User Story</h5>
        </div>
      </div>

    </div>

    <div class="col-lg-6">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">研究背景</h5>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dataset 結構概述</h5>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Heat Map(待命名)</h5>
          <p>description(待補充)</p>
          <div id="heatMap" style="width: 100%;height: 500px;"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Column Line Chart(待命名)</h5>
          <p>description(待補充)</p>
          <div id="columnLineChart" style="width: 100%;height: 500px;"></div>
        </div>
      </div>
    </div>
  </div>
</section>


<%= content_for :javascript do %>

<% end %>
