<div class="pagetitle">
  <h1>成員介紹</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">首頁</a></li>
      <li class="breadcrumb-item">成員介紹</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile">
  <div class="row">
    <%# Allen %>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/allen.png" alt="Profile" class="rounded-circle">
          <h2>鄭偉鑅, Allen</h2>

          <!-- Button for Modal Allen -->
          <button type="button" class="btn btn-outline-secondary btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#modalAllen">
            <i class="bi bi-person"></i>
            簡介
          </button>
          <!-- badge links -->
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-secondary"><i class="bi-gem me-1"></i> 組長</span>
            <span class="badge rounded-pill bg-secondary"><i class="bi-code-slash me-1"></i> 碼農</span>
            <span class="badge rounded-pill bg-secondary"><i class="bi-hammer me-1"></i> 工友</span>
          </div>
          <!-- Modal Allen -->
          <div class="modal fade" id="modalAllen" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">鄭偉鑅, Allen</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="text-end fw-light text-secondary fs-6">allen.cheng1984@gmail.com</p>
                  <h6>專業:</h6>
                  <p>
                    專案管理 <br>
                    電子商務系統開發與維護 <br>
                    關連式資料庫 (Mysql, PostgreSQL) <br>
                    網站前端相關 (HTML, CSS, Javascript, React, Vue) <br>
                    網站後端相關 (Linux, Node.js, Ruby, Python) <br>
                    雲端服務 (AWS, GCP) <br>
                    SRE (Docker, Kubernetes)
                  </p>
                  <hr>
                  <h6>負責項目:</h6>
                  <p>
                    帶領整個團隊前進 <br>
                    協助三個小組進度 <br>
                    專題網站開發 <br>
                    資料前處理 <br>
                    技術支援 <br>
                    簡報製作 <br>
                    調校機器學習模型 <br>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉視窗</button>
                </div>
              </div>
            </div>
          </div><!-- End Modal Allen-->

        </div>
      </div>
    </div>

    <%# Ice %>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/ice.png" alt="Profile" class="rounded-circle">
          <h2>梁雪樺, Ice</h2>

          <!-- Button for Modal Ice -->
          <button type="button" class="btn btn-outline-secondary btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#modalIce">
            <i class="bi bi-person"></i>
            簡介
          </button>
          <!-- badge links -->
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-success"><i class="bi bi-bag-check-fill me-1"></i> 銷售小組</span>
          </div>
          <!-- Modal Ice -->
          <div class="modal fade" id="modalIce" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">梁雪樺, Ice</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="text-end fw-light text-secondary fs-6">email: leungsuetwa@gmail.com</p>
                  <h6>專業:</h6>
                  <p>
                    電子商務及數位行銷-增長行銷Market Growth(Game,Apps,User) <br>
                    績效營銷Perfomace Marketing <br>
                    社群經營Social Media <br>
                    KOL培育 influencer incubator <br>
                    按摩及復位-泰式按摩 <br>
                    淋巴按摩 <br>
                    運動按摩 <br>
                    程式語言:MySQL
                  </p>
                  <hr>
                  <h6>負責項目:</h6>
                  <p>
                    資料處理 <br>
                    圖表設計 <br>
                    統計分析 <br>
                    簡報製作
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉視窗</button>
                </div>
              </div>
            </div>
          </div><!-- End Modal Ice-->

        </div>
      </div>
    </div>

    <%# Wei %>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/wei.png" alt="Profile" class="rounded-circle">
          <h2>陳偉祥</h2>
          <!-- Button for Modal Wei -->
          <button type="button" class="btn btn-outline-secondary btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#modalWei">
            <i class="bi bi-person"></i>
            簡介
          </button>
          <!-- badge links -->
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-success"><i class="bi bi-bag-check-fill me-1"></i> 銷售小組</span>
          </div>
          <!-- Modal Wei -->
          <div class="modal fade" id="modalWei" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">陳偉祥</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="text-end fw-light text-secondary fs-6">email: a2724028@gmail.com</p>
                  <h6>專業:</h6>
                  <p>
                    測驗統計(試題分析、問卷統計分析、因素分析、迴歸分析等) <br>
                    教育(STEAM教育、國小教育、數位教材編制) <br>
                    攝影(婚紗攝影、活動紀錄、商品攝影、食物攝影) <br>
                    擅長軟體:SQL、SPSS、Tableau、PS、LR、C1
                  </p>
                  <hr>
                  <h6>負責項目:</h6>
                    銷售組主題建立 <br>
                    使用情境與方案設計 <br>
                    資料處理 <br>
                    建立與調校機器學習模型 <br>
                    特徵工程
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉視窗</button>
                </div>
              </div>
            </div>
          </div><!-- End Modal Wei-->

        </div>
      </div>
    </div>

    <%# Louis %>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/louis.png" alt="Profile" class="rounded-circle">
          <h2>李儒育, Louis</h2>
          <!-- Button for Modal Louis -->
          <button type="button" class="btn btn-outline-secondary btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#modalLouis">
            <i class="bi bi-person"></i>
            簡介
          </button>
          <!-- badge links -->
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-success"><i class="bi bi-bag-check-fill me-1"></i> 銷售小組</span>
          </div>
          <!-- Modal Louis -->
          <div class="modal fade" id="modalLouis" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">李儒育, Louis</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="text-end fw-light text-secondary fs-6">email: b00606013@gmail.com</p>
                  <h6>專業:</h6>
                  <p>
                    食品科學、生物實驗 <br>
                    程式語言:Java, Python, HTML, CSS, JavaScript, SQL <br>
                    擅長工具:程式開發(Eclipse, Jupyter Notebook, Visual Studio)、資料庫(MySQL, MSSQL, Mongo DB)
                  </p>
                  <hr>
                  <h6>負責項目:</h6>
                  <p>
                    資料清洗 <br>
                    資料處理 <br>
                    調校機器學習模型 <br>
                    特徵工程
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉視窗</button>
                </div>
              </div>
            </div>
          </div><!-- End Modal Louis-->

        </div>
      </div>
    </div>

    <%# Anita %>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/anita.png" alt="Profile" class="rounded-circle">
          <h2>黃怡家, Anita</h2>

          <!-- Button for Modal Anita -->
          <button type="button" class="btn btn-outline-secondary btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#modalAnita">
            <i class="bi bi-person"></i>
            簡介
          </button>
          <!-- badge links -->
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-danger"><i class="bi bi-emoji-heart-eyes me-1"></i> 評價小組</span>
          </div>
          <!-- Modal Anita -->
          <div class="modal fade" id="modalAnita" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">黃怡家, Anita</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="text-end fw-light text-secondary fs-6">email: hxanita916@gmail.com</p>
                  <h6>專業:</h6>
                  <p>
                    專案管理 <br>
                    統計分析 <br>
                    心理學研究 <br>
                    問卷製作 <br>
                    MySQL資料庫系統 <br>
                    Python <br>
                    HTML <br>
                    JavaScript <br>
                    R-Studio 繪圖
                  </p>
                  <hr>
                  <h6>負責項目:</h6>
                  <p>
                    評價組主題建立 <br>
                    清洗資料 <br>
                    整併欄位與資料集 <br>
                    快速查詢資料數據內容 <br>
                    統計分析與應用 <br>
                    調校機器學習模型 <br>
                    圖表設計 <br>
                    簡報製作
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉視窗</button>
                </div>
              </div>
            </div>
          </div><!-- End Modal Anita-->

        </div>
      </div>
    </div>

    <%# Jerry %>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/jerry.png" alt="Profile" class="rounded-circle">
          <h2>簡智弘, Jerry</h2>

          <!-- Button for Modal Jerry -->
          <button type="button" class="btn btn-outline-secondary btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#modalJerry">
            <i class="bi bi-person"></i>
            簡介
          </button>
          <!-- badge links -->
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-danger"><i class="bi bi-emoji-heart-eyes me-1"></i> 評價小組</span>
          </div>
          <!-- Modal Jerry -->
          <div class="modal fade" id="modalJerry" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">簡智弘, Jerry</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="text-end fw-light text-secondary fs-6">email: rockportereport@gmail.com</p>
                  <h6>專業:</h6>
                  <p>
                    專案管理 <br>
                    社群文案企劃 <br>
                    MySQL資料庫系統 <br>
                    程式語言（HTML、CSS、JavaScript、Python）
                  </p>
                  <hr>
                  <h6>負責項目:</h6>
                  <p>
                    資料清理與彙整 <br>
                    統計分析與圖表設計 <br>
                    建立與調校機器學習模型 <br>
                    簡報製作
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉視窗</button>
                </div>
              </div>
            </div>
          </div><!-- End Modal Jerry-->

        </div>
      </div>
    </div>

    <%# Angela %>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/angela.png" alt="Profile" class="rounded-circle">
          <h2>何舜華, Angela</h2>

          <!-- Button for Modal Angela -->
          <button type="button" class="btn btn-outline-secondary btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#modalAngela">
            <i class="bi bi-person"></i>
            簡介
          </button>
          <!-- badge links -->
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-warning"><i class="bi-pin-map-fill me-1"></i> 物流小組</span>
          </div>
          <!-- Modal Angela -->
          <div class="modal fade" id="modalAngela" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">何舜華, Angela</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="text-end fw-light text-secondary fs-6">email: hua811216@gmail.com</p>
                  <h6>專業:</h6>
                  <p>
                    專案管理 <br>
                    機器學習 <br>
                    數據處理與分析 <br>
                    程式語言(Python,R,SQL,C,Html,CSS,JavaScript) <br>
                    系統操作(Linux系統、MySQL資料庫系統、Hadoop資料處理系統) <br>
                    職業安全與衛生 <br>
                    環境衛生與工程
                  </p>
                  <hr>
                  <h6>負責項目:</h6>
                  <p>
                    物流組主題建立 <br>
                    使用情境與方案設計 <br>
                    資料處理 <br>
                    數據分析 <br>
                    設計、建立與調校機器學習模型
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉視窗</button>
                </div>
              </div>
            </div>
          </div><!-- End Modal Angela-->

        </div>
      </div>
    </div>

    <%# Even %>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/even.png" alt="Profile" class="rounded-circle">
          <h2>王怡文, Even</h2>

          <!-- Button for Modal Even -->
          <button type="button" class="btn btn-outline-secondary btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#modalEven">
            <i class="bi bi-person"></i>
            簡介
          </button>
          <!-- badge links -->
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-warning"><i class="bi-pin-map-fill me-1"></i> 物流小組</span>
          </div>
          <!-- Modal Even -->
          <div class="modal fade" id="modalEven" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">王怡文, Even</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="text-end fw-light text-secondary fs-6">email: littleeudemon@gmail.com</p>
                  <h6>專業:</h6>
                  <p>
                    專案管理 <br>
                    旅遊行銷企劃 <br>
                    統計分析 <br>
                    程式語言(SQL、VBA、ASP.NET) <br>
                    MySQL資料庫系統 <br>
                    SPSS <br>
                    SAS
                  </p>
                  <hr>
                  <h6>負責項目:</h6>
                  <p>
                    物流組主題建立 <br>
                    建立與調校機器學習模型 <br>
                    特徵工程 <br>
                    圖表設計 <br>
                    統計分析 <br>
                    簡報製作
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉視窗</button>
                </div>
              </div>
            </div>
          </div><!-- End Modal Even-->

        </div>
      </div>
    </div>

  </div>
</section>

<hr style="margin-bottom: 30px;">

<section class="section profile">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/teacher.png" alt="Profile" class="rounded-circle">
          <h2>蔡智勇</h2>
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-primary"><i class="bi bi-star me-1"></i> Teacher</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/teacher2.png" alt="Profile" class="rounded-circle">
          <h2>黃登揚</h2>
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-primary"><i class="bi bi-star me-1"></i> Teacher</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
