<div class="pagetitle">
  <h1>成員介紹</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">首頁</a></li>
      <li class="breadcrumb-item">成員介紹</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/teacher.png" alt="Profile" class="rounded-circle">
          <h2>蔡智勇</h2>
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-primary"><i class="bi bi-star me-1"></i> Teacher</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/teacher2.png" alt="Profile" class="rounded-circle">
          <h2>黃登揚</h2>
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-primary"><i class="bi bi-star me-1"></i> Teacher</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/allen.png" alt="Profile" class="rounded-circle">
          <h2>鄭偉鑅, Allen</h2>
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-secondary"><i class="bi-code-slash me-1"></i> 碼農</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/anita.png" alt="Profile" class="rounded-circle">
          <h2>黃怡家, Anita</h2>
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-danger"><i class="bi bi-emoji-heart-eyes me-1"></i> 評價小組</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/messages-1.jpg" alt="Profile" class="rounded-circle">
          <h2>何舜華, Angela</h2>
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-warning"><i class="bi-pin-map-fill me-1"></i> 物流小組</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/even.png" alt="Profile" class="rounded-circle">
          <h2>王怡文, Even</h2>
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-warning"><i class="bi-pin-map-fill me-1"></i> 物流小組</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/jerry.png" alt="Profile" class="rounded-circle">
          <h2>簡智弘, Jerry</h2>
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-danger"><i class="bi bi-emoji-heart-eyes me-1"></i> 評價小組</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/messages-1.jpg" alt="Profile" class="rounded-circle">
          <h2>梁雪樺, Ice</h2>
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-success"><i class="bi bi-bag-check-fill me-1"></i> 銷售小組</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
          <h2>陳偉祥</h2>
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-success"><i class="bi bi-bag-check-fill me-1"></i> 銷售小組</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="dashboard/assets/img/louis.png" alt="Profile" class="rounded-circle">
          <h2>李儒育, Louis</h2>
          <div class="social-links mt-2">
            <span class="badge rounded-pill bg-success"><i class="bi bi-bag-check-fill me-1"></i> 銷售小組</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
