<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>AllenCheng</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    Template from <a href="https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/">NiceAdmin</a>
  </div>
</footer>
