<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="<%= root_path %>" class="logo d-flex align-items-center">
      <img src="dashboard/assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">大數據分析 - 電商組</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->


  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-chat-left-text"></i>
          <span class="badge bg-success badge-number">3</span>
        </a><!-- End Messages Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages" style="width: 300px">
          <li class="message-item">
            <a href="/sales_intro">
              <img src="dashboard/assets/img/ice.png" alt="" class="rounded-circle">
              <div>
                <h4>銷售小組</h4>
                <p>我們做了數據分析，找到造成營業額差距的關鍵因子 推論出精準行銷的依據。</p>
                <p style="font-size: 10px;color: #c9c9c9">來自 偉祥、雪樺與儒育</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="/review_intro">
              <img src="dashboard/assets/img/anita.png" alt="" class="rounded-circle">
              <div>
                <h4>評價小組</h4>
                <p>我們準備了很精彩的報告: 預測評價的好壞，做為平台篩選新進賣家販售商品的依據。</p>
                <p style="font-size: 10px;color: #c9c9c9">來自 怡家與智弘</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="/logistics_intro">
              <img src="dashboard/assets/img/angela.png" alt="" class="rounded-circle">
              <div>
                <h4>物流小組</h4>
                <p>敬請欣賞我們精心準備的研究，並提供了完整的模型程式碼與調教歷程。</p>
                <p style="font-size: 10px;color: #c9c9c9">來自 舜華、怡文與偉鑅</p>
              </div>
            </a>
          </li>
        </ul><!-- End Messages Dropdown Items -->

      </li><!-- End Messages Nav -->

      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img src="dashboard/assets/img/allen.png" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">Allen Cheng</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>Allen Cheng</h6>
            <span>Web Designer</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="<%= about_path %>">
              <i class="bi bi-exclamation-square"></i>
              <span>關於專題</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="<%= team_members_path %>">
              <i class="bi bi-person"></i>
              <span>成員介紹</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="<%= dataset_info_path %>">
              <i class="bi bi-server"></i>
              <span>背景資料概述</span>
            </a>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->
